[2015-06-21 15:41] arqex opened #1 "Customize table cell classes and content"
It would be nice to have a filter prop to customize the day, month and year cell content and classes.

[2015-06-21 15:42] arqex opened #2 "Add locale support"
Explore moment.js to add locale support to the library

[2015-07-08 01:26] anateus opened #3 "Latest npm package is missing crucial files"
After `npm install` (with react-datetime version 0.4.0) the `node_modules/react-datetime` directory contains the following:

[code]

The `DateTime.js` file expects there to be a `src` directory, and I think you might also want there to be a `dist` dir in there.

Seems to be some sort of packaging error.

[2015-07-08 10:08] marquex commented on #3
Yes, you are right. Strange, isn't it? I will try to publish it again. Thanks for the feedback.

[2015-07-09 07:49] arqex commented on #3
Hi @anateus

In version 0.4.2 it should be working ok.

[2015-07-09 07:49] #3 closed

[2015-07-09 12:06] aleemb opened #6 "Webpack Error"
Thanks for the wonderful lib, it's has the lightest footprint of the other libs I have explored.

I ran into the following error while trying to include it in my project:
[code]

[2015-07-09 15:14] arqex opened #8 "Enhancements?"
Hi!

You might that react-datetime is still in process to be stable. It would be great to know developer's thoughts about the API.

From my point of view I have some doubts about the way of making it work as a datepicker/timepicker only. Currently if you pass prop `dateFormat` and not a `timeFormat` you only get the datepicker. The same happens in the other direction. But this way it is not possib

[2015-07-09 17:27] aleemb commented on #8
`minDate` and `maxDate` have better UX in terms of API design and it is also 99% of your use-case. However, `validDate` and min/max are not mutually exclusive so I would propose having all three. `validDate` will help for the rare case where for example a user only wants weekdays to be selectable. However, I would rename that to `isValidDate` or `filterDate`. This will also help with backward comp

[2015-07-09 18:21] anateus commented on #8
Agreed with @aleemb on the min/max API as well as enabling.

I previously used **react-widgets**, but have had compatibility issues, testing issues (hard to automate cucumber tests with how it's implemented in the DOM), and dependency breakages. One of the things I like is how compact and efficient **react-datetime** is. So I would look to it as inspiration for some features, but I'd be careful to

[2015-07-10 08:11] arqex commented on #8
Hey thanks guys!

Are you already using `minDate` `maxDate`? Is it some kind of standard?

It happens that you have reached to this project in an alpha stage, it started as a fork of https://github.com/quri/react-bootstrap-datetimepicker, and after a huge cleanup I decide to have it as a completely different datepicker, but it still maintains part of its API and I don't like some of it.

I think o

[2015-07-13 21:23] anateus commented on #8
I do use `minDate`. For combining the three I think the logic should be: If you use `validDate` it should ignore anything that's in `minDate` and `maxDate`. I think the way to implement this is that it always execute `validDate`, but the default function for `validDate` acceses the `minDate` and `maxDate` props. This ensures there will never be an issue, because as soon as `validDate` is overriden

[2015-07-22 20:51] yanickouellet opened #11 "Buttons tags does not have type=button"
All `<button>` tags do not specify a `type` attribute, which cause the page to be submitted if the picker is in a `form` tag and we change month using the arrows. Here is an exemple: http://codepen.io/anon/pen/EjeOJZ Using `<button type="button">` would fix the issue, since `button` without type are considered as submit by default.

I can make a pull request to fix that issue in the following days

[2015-07-22 22:12] arqex commented on #11
Sure, I'll be glad to merge your PR.
Thanks very much

[2015-07-23 17:42] arqex commented on #8
Hey guys, thanks for your help.

After much thinking I have settle down the API to be stable, you can see it here:

https://github.com/arqex/react-datetime/tree/release-candidate.

Finally I have removed the `minDate` and `maxDate`, I'm sorry because I know you were using them, but their functionality is very limited and overlaped the one of the needed `isValidDate` prop.

As for enabling pickers,

[2015-07-23 17:59] yanickouellet commented on #11
The PR has been merged, I think this issue can be closed.

[2015-07-23 17:59] #11 closed

[2015-07-24 14:14] arqex commented on #1
Added to 1.0.0

[2015-07-24 14:14] #1 closed

[2015-07-24 14:14] arqex commented on #2
Added to 1.0.0

[2015-07-24 14:14] #2 closed

[2015-07-24 14:15] #6 closed

[2015-08-12 09:07] wwqq03 opened #14 "Can we set the initial date to be empty?"
Hi,

Now I am using this component in a form, and the date field is not mandetory. So I think it should be able to initialize the input as empty, so it won't confuse the users.
And when we delete the date in the input, it won't call the "onChange" callback. I think it should, because users want to delete the date field when this component is in a form.

[2015-08-12 10:28] arqex commented on #14
Oh, never thought about that way of using the datepicker. I will have a look at how can I implement the empty date scenario, and I will do it soon.

Thanks for the suggestion.

[2015-08-12 10:58] wwqq03 commented on #14
Thanks :)

[2015-08-13 16:16] tcgardner commented on #14
As a tangent to the empty date, a placeholder prop could be helpful.  I have a case where I do not want to default to a date, but placeholder instructions.

[2015-08-14 10:26] arqex commented on #14
@tcgardner you can use the prop `inputProps` to add the placehoder attribute to the input once the picker accepts an empty value.

[2015-08-20 14:30] arqex commented on #14
Hey guys,

With the new version, the date field can be empty. Basically, whenever the input gets modified and its value is not a valid date value, `onChange` and `onBlur` return the input value instead of a moment object.

http://codepen.io/arqex/pen/jPjmpQ

Be careful, because moment parse some strings as valid that for me have no sense, but it is a moment issue.

[2015-08-21 18:15] arthurfranca opened #15 "Please update react-onclickoutside dependency version"
Please update dependency react-onclikoutside to version ^0.3.1.

Current package.json says "react-onclickoutside": "^0.2.4".
A fresh react-datetime install brings along react-onclikoutside v0.2.5 which seems to have a bug.

Upon picker load, browser console says "Uncaught ReferenceError: React is not defined" cause of this line: https://github.com/Pomax/react-onclickoutside/blob/a0f29a152806944702

[2015-08-21 19:23] arthurfranca commented on #15
Oh, just saw there is already a PR: #13

[2015-08-22 09:08] arqex commented on #15
Thanks @arthurfranca it should be updated in v1.1.1

[2015-08-22 09:08] #15 closed

[2015-08-23 17:27] matthemsteger opened #16 "Dependency classlist-polyfill makes this library error serverside"
When you try to use this serverside (for example when doing an isomorphic app), you get an error ..

I looked over the source and I am a bit confused why this is included? It appears not to be used at all (no reference to .classList) for any of the code in this particular library.

[2015-08-24 15:26] arqex commented on #16
HI @matthemsteger

You are right it was added to support IE at some time, but it is not needed anymore. I have moved from the dependencies in v1.2.0.

Thanks for the feedback.

[2015-08-24 15:26] #16 closed

[2015-08-24 16:15] arqex commented on #16
Sorry, v1.2.0 born broken. Use v1.2.1 instead

[2015-09-01 14:53] marianoguerra opened #17 "dist build is broken for requirejs"
line https://github.com/arqex/react-datetime/blob/master/dist/react-datetime.js#L10

should be

    define(["react", "moment"], factory);

same for this line https://github.com/arqex/react-datetime/blob/master/dist/react-datetime.js#L12
undefined should be replaced for lib names.

I don't know webpack to propose a fix, also tried to build it locally and couldn't, the following error happens:

[2015-09-03 15:34] Youpinadi opened #18 "isValidDate should handle time as well"
futureDate(current) {
        let today = moment();
        return current.isAfter(today)
    }

if i use this function as a validator, it will blur today's day, but it shouldn't.
The day should be available and only hours ans minutes in the future should be  available

[2015-09-04 09:55] EwanValentine opened #19 "I can't see in the documentation how you actually get the value"
I can't actually see in the readme where you get the value of `<Datepicker />`? Can you still use `refs`?

[2015-09-04 10:02] EwanValentine commented on #19
Ignore this, I was being stupid.

[2015-09-04 10:02] #19 closed

[2015-09-07 17:13] Develliot opened #20 "Calendar does not expand containing DIV and is obscured"
Could the css be amended so the css for .rdtPicker has a relative position instead of absolute?

[2015-09-07 17:16] Develliot commented on #20
<img width="447" alt="screen shot 2015-09-07 at 18 15 30" src="https://cloud.githubusercontent.com/assets/5347198/9721026/7d1890e8-558c-11e5-8703-46bf82a83c97.png">

[2015-09-09 07:54] tzwm opened #21 "Add 'open' prop to show or hide picker which 'input' is true"
The picker will not be hide when I click the date on the picker. I need to click anywhere outside the picker to close the picker. How about adding a 'open' prop to control this?

[2015-09-22 17:16] iansinnott commented on #18
:+1: I've run across this issue as well. Currently we have to implement custom logic to manage time validity. Implementing an `isTimeValid` prop would be excellent.

[2015-09-28 12:54] ReyesTimes opened #22 "Disabled input"
How i could change the input to disabled ?

[2015-10-01 15:19] arqex commented on #22
You can use `inputProps` setting.

[code]

[2015-10-01 15:23] arqex commented on #21
Thanks for telling me.

I imagine this is an issue if the picker gets in the middle of some interaction. But I can't close it automatically, otherwise it would be impossible to select the time.

Open property would be nice that can be changed on selection, let me think of it.

[2015-10-01 15:25] arqex commented on #20
You could apply your own styles to the classes in order to override default ones. Couldn't you?

[2015-10-01 15:28] arqex commented on #18
Sorry I could not answer this before.

It is a hard issue this one, because the UI of the datepicker makes difficult to select the valid time.

Imagine you set a function that only allow hours from 6 to 8 and 10 to 12. Pressing up and down wouldn't work ok.

That's why when a date is valid you can select any time.

If you have a solution or idea to handle this valid time issue, just leave it here.

[2015-10-01 16:31] Youpinadi commented on #18
just don't handle multiple time intervals, the most common case is just to enable timepicking after a specific datetime ;)

[2015-10-08 18:56] BradHarris commented on #22
is there a way to disabled the calendar (non input mode)?

[2015-10-10 06:03] mrbone opened #23 "Can't reset to empty value after a date be selected."
when i use react-datetime in form,
i wana reset the input value to empty after user click the reset button.

I set the component's value props to '',
but it's still have a date string in the input filed,
i can only reset it to empty if i set the state 'inputValue' to empty.
is there anyway i can only control the props to reset the value ?

[2015-10-10 08:50] mrbone opened #24 "can not close the other Datetime compoent by using react-onclickoutside@0.3.3."
The mousedown event just trigger once by using the 0.3.3 version of react-onclickoutside.

I reinstall the 0.3.1 version fix the problem.

[2015-10-13 05:07] rodumani opened #26 "Support timezone selection?"
Hello, thank you for making great datetime picker on react.

Is there any plan to support timezone selection?

[2015-10-13 16:44] arqex commented on #26
Hi @changjej

What do you mean with timezone selection? It is always possible to use a moment or date object relative to some timezone as input for react-datetime.

So if you create a timezone selector outside the datetime picker and transform that date, before giving it to react-datetime, you should get it.

[2015-10-13 17:00] arqex commented on #24
It is working for me using react-onclickoutside 0.3.3. Anybody else is having this problem?

[2015-10-13 17:16] #22 closed

[2015-10-13 17:31] #14 closed

[2015-10-13 17:38] arqex commented on #23
Thanks @mrbone

I will fix that in the next release. Stay tuned :)

[2015-10-14 01:08] mrbone commented on #24
@arqex I think it's the react-onclickoutside's problem.

It update by using stopImmediatePropagation which prevent all other listeners except the first one in document.
check this issue [#40](https://github.com/Pomax/react-onclickoutside/issues/40)

[2015-10-16 08:36] AlesJiranek opened #28 "Add support for React 0.14"
Hello, is it possible to add support for React 0.14?

[2015-10-16 14:28] arqex commented on #24
Last react-datetime version has react-onclickoutside 0.3.4 dependency that I expect to fix that problem.

[2015-10-16 14:28] arqex commented on #23
Fixed

[2015-10-16 14:28] #23 closed

[2015-10-16 14:29] arqex commented on #21
open property added as for v1.2.1, thanks

[2015-10-16 14:29] #21 closed

[2015-10-17 10:16] mrbone commented on #24
problem solved.

[2015-10-17 10:16] #24 closed

[2015-10-18 13:59] tzwm commented on #21
Thanks for it.

[2015-10-19 14:42] arqex commented on #28
What do you need to be updated? it is working ok for me with React 0.14

[2015-10-19 15:58] StefanSchwartze opened #29 "Time selector doesn't work"
In the demo, it's not possible to change the time using the selector.

[2015-10-19 16:53] AlesJiranek commented on #28
It is working, but ti is showing warnings about using React.DOM instead of new react-dom

[2015-10-24 19:24] dbrans commented on #29
+1

[2015-10-28 16:09] eversadia opened #31 "props locale doest not update"
ex. <Datetime locale={this.props.locale} />

it seems that it only works on first load, it the props changes the  calendar locale render does not changed

[2015-10-29 09:00] ifunk opened #32 "Consider namespacing all classes?"
I'm getting some conflicts with other classes applying styles to react-datetime component parts.

Would you consider namespacing all classes? eg.
[code]
could be changed to

[code]

and

[code]

could be changed to:

[code]

[2015-11-02 07:05] psibi opened #33 "Uncaught Error: A valid ReactComponent must be returned."
This is the test code:

[code]

This is the error message, I get:

[code]

A quick google suggests me other react plugin also sometime stumbled upon the same problem: https://github.com/littlebits/react-popover/issues/23

[2015-11-04 23:23] dbrans commented on #29
Bump

[2015-11-06 02:15] snowcxt commented on #28
Could you fix this issue?

[2015-11-09 12:56] poke opened #35 "dist version is outdated: OnClickOutside doesn’t work with multiple Datetime components"
If you have two Datetime components on a single page, then clicking outside of the the calendar for the second will not close it. You can easily reproduce this by using the [linked demo codepen](http://codepen.io/arqex/pen/BNRNBw) and changing the JavaScript code to the following:

[code]

So while trying to figure out why this happened, I noticed that you just need to rebuild the dist files in or

[2015-11-20 11:24] naomifeehan opened #36 "Can't use two equal names of week day"
Hi, there is issue if I use equal week day names:

weekDayNames={["S", "M", "T", "W", "T", "F", "S"]}

Warning: flattenChildren(...): Encountered two children with the same key, `.$T`. Child keys must be unique; when two children share a key, only the first child will be used.
warning.js:48 Warning: flattenChildren(...): Encountered two children with the same key, `.$S`. Child keys must be unique;

[2015-11-20 11:33] arqex commented on #36
Thanks for the feedback, I'll have a look at it.

[2015-11-20 11:33] naomifeehanmoran commented on #36
Cheers, see PR #37

[2015-11-20 11:33] arqex commented on #35
This is fixed in the latest version.

[2015-11-20 11:33] #35 closed

[2015-11-20 11:34] arqex commented on #32
All the classes are namespaced in the latest version. Thanks for the feedback.

[2015-11-20 11:34] #32 closed

[2015-11-20 11:35] arqex commented on #28
Latest version should work with react 0.14 without problems. Thanks for your feedback

[2015-11-20 11:35] #28 closed

[2015-11-20 11:36] arqex commented on #29
Updated in the latest version :)
http://codepen.io/arqex/pen/BoqgaG
Thanks for the feedback

[2015-11-20 11:36] #29 closed

[2015-11-20 18:26] snowcxt opened #38 "mouse cursor is not pointer"
Just update to 2.0.0. The hover over cursor is 'text' but expect 'pointer'

[2015-11-25 02:55] BradHarris opened #40 "Selecting dates in January while in December jumps back to November"
Version 1.2.1

Reproducible in Chrome 46, Firefox, IE10, IE11, Safari 8

Steps to reproduce:
- go to December (any year but for this example lets say 2015)
- click any of the dates past december (January 2016)

expected result: goes to January 2016
actual result: goes to November 2015

[2015-11-25 22:56] rchanou opened #41 "Customizing the time picker"
I see how to do formatting in the input field, but is there any way to customize the time picker? I want it to only go from 1-12 for the hour picker and add an AM/PM toggle button.

[2015-12-01 08:21] markmus opened #42 "peerDependencies error with react 0.13.x"
How I could fix this issue? I'm getting `peerDependencies` error when I try to update to 2.0.

Looks the problem is coming from `npm ERR! peerinvalid Peer react-dom@0.14.3 wants react@^0.14.3`.

Currently I'm using `"react": "^0.13.3"`
While I need to upgrade my `react-datetime` to 2.0 since I'm getting error of `OnClickOutside` in IE9 on my current `"react-datetime": "^1.3.0"`

[2015-12-02 16:08] #20 closed

[2015-12-03 21:33] aaronucsd opened #43 "How to get value from mulitiple date inputs?"
If i have many on the same page, how do i get the value of each one? Is there a way to specified an id for each or?

[2015-12-09 15:07] Youpinadi opened #44 ""open" prop issue"
Hi,

I have a component that wraps a DateTime (there is a small button with a calendar icon at the end).

Here is the code

[code]

Changing state.open doesn't do anything
I already tried a patch in `componentWillReceiveProps`:

[code]

But when i do this, the calendar won't close on blur.

Basically i just want to be able to control the opening of a calendar, but the open prop doesn't do it.

Tha

[2015-12-13 05:28] halkeye commented on #44
what about
[code]

[2015-12-14 06:08] halkeye commented on #17
I think I figured it out, `gulp.src('./Datetime.js')` should really be `gulp.src('./DateTime.js')`

I ended up rewriting that anyways
https://github.com/halkeye/react-datetime/blob/master/gulpfile.js

[2015-12-16 06:41] code4aman commented on #8
Hi! Can you add TypeScript definition file?

[2015-12-16 08:31] timothyarmes opened #45 "Customise input field"
Hi,

It would be great if we could add children to the input element. That would allow us to add icons. For example, using Semantic UI I'd like to produce output like this:

[code]

I tried this:

[code]

But that doesn't work since you're wrapping the input.

[2015-12-16 15:54] arqex commented on #8
Sure, but I have no idea about typescript. If you create it and make a PR I will be glad to merge it.

[2015-12-16 16:02] arqex commented on #45
This is a hard request. I can't open the markup of the component to be editable completely. But maybe you can update your css to place the icon in the right position. Replacing the input clas by a datepicker one:
[code]

Maybe you can position the `i` element absolutely over the datepicker input.

[2015-12-16 16:49] timothyarmes commented on #45
That would be really awkward.

How about if you could however accept a 'prefix' and 'postfix' property that would insert components either side of the input....

[2015-12-19 07:10] mqklin commented on #38
I solved it with this:
[code]

[2015-12-19 07:20] snowcxt commented on #38
Doesn't work for me. My code:
[code]

[2015-12-19 07:38] mqklin commented on #38
@snowcxt, you should add pointer only on `:hover`. Try to repeat my code:
[code]

[2015-12-23 11:25] code4aman commented on #28
Hi! Looks like react 0.14.x not fully supported yet, just try to upgrade your codepen.io snippet to react 0.14.x, drop-down calendar not closing on outside click event

[2015-12-23 22:35] ir-fuel opened #46 "How to block manual date/time entry?"
Hi

I would like to keep the input field + click on it to open the picker, but I would like to disable the possibility for someone to actually type in that field.

Is that possible somehow?

[2015-12-24 11:26] timothyarmes commented on #46
This would be a nice feature. Since we're using React I'd expect it could be quite easy for this project to use a controlled input field to prevent the use typing into it....

[2015-12-24 12:17] arqex commented on #46
I suppose you can use `inputProps` option

[code]

[2015-12-24 15:54] ir-fuel commented on #46
If I am not mistaken that completely blocks the component. Clicking will not open the picker in that case.

[2015-12-26 13:00] ir-fuel opened #47 "show time picker next to date picker"
Is it possible to do this somehow?
<img width="266" alt="screen shot 2015-12-26 at 13 59 31" src="https://cloud.githubusercontent.com/assets/1573715/12006467/fb29c9f0-abd8-11e5-9f98-212ca4a964e9.png">

[2015-12-26 20:04] yurikrupnik opened #48 "Adding footer/header"

[2015-12-26 20:05] yurikrupnik commented on #48
Is it possible to add footer/header to the component with custom data?

[2015-12-27 10:26] #48 closed

[2016-01-01 22:21] ir-fuel commented on #46
Found the solution:

`<DateTime inputProps={{readOnly:true}} />`

[2016-01-01 22:21] #46 closed

[2016-01-01 23:30] ir-fuel commented on #47
I forked the code to build something similar to this.
Unfortunately I can't merge it here because it changes the default behaviour of the picker to the one shown above.

[2016-01-02 10:50] timothyarmes commented on #46
That's great!

[2016-01-08 11:06] aseem2625 commented on #45
Is there anyway I can pass a prop which acts placeholder for the input?

[2016-01-08 11:49] timothyarmes commented on #45
inputProps={{ placeholder: 'blah')}}

[2016-01-08 13:01] aseem2625 commented on #45
@timothyarmes  Thanks :) Worked.

[2016-01-12 18:34] Sparragus commented on #19
How did you end up doing it? I know `onChange` will let you get the value but I would like to do it using `refs`.

[2016-01-28 16:11] ZombiEquinox commented on #43
I realize this is an old post, but I am running into the same issue. Did you figure out how to do it? I am having issues pulling the date value from one component to another.

[2016-01-28 20:22] aaronucsd commented on #43
Yes. Like so

  //handle click event from datepicker
  onDateChange = (key) => (newDate) => {
    if (newDate !== 'Invalid date') {
      this.setState({
        [key]: newDate / 1000,
      });
    }
  };

[2016-02-02 00:00] mleonard87 opened #56 "Close date picker on selecting a date"
When the date picker is attached to an input the datepicker should close when selecting a date.

[2016-02-02 00:01] mleonard87 opened #57 "Close date picker onBlur"
The date picker should close when the corresponding input field loses focus.

[2016-02-02 00:23] mleonard87 opened #58 "Add examples"
It would be nice to have an examples directory with a few examples showing variants of the widget. The codepen example could be moved here as a starting point and perhaps additional examples published to github pages.

[2016-02-02 03:05] mleonard87 commented on #56
Actually,. I see this is complete in commit 1fdc4e8a18519b06b5e3b983ff778b056979ad68 but it is not yet in a release.

[2016-02-02 03:05] #56 closed

[2016-02-15 16:07] Salmonster opened #62 "Solved an issue where React component state wasn't updating after selecting month/day/year"
I almost abandoned this add-on until I figured out how to get around an issue where a component state wasn't updating its month, day, or year state values which I had tied to the present selection of the datetime picker. I would have to select a given day/month/year twice in order for it to update the state appropriately; but strangely, not for the time selector, which updated the time state value

[2016-02-25 19:58] brenoferreira commented on #42
:+1: for this. Why not release a version with support for 0.14 only?

[2016-02-26 12:03] arqex commented on #42
Hi

Yes, next version will be React 0.14 only compatible, having it compatible with previous versions is just too complicated.

Wait for news soon :)

[2016-02-26 12:44] brenoferreira commented on #42
Great! But is there any reason for having the peerDependency for react-dom on this current release?

[2016-02-26 17:10] emminnn opened #65 "Selecting range (a set of dates following each other)"
Apologies if I didn't check the documentation well. Was in a hurry.

I wonder if range selection is possible with passing a prop or so with this? In that case, how one could do that?

Thanks.

[2016-02-29 14:00] export-mike opened #66 "maintainer."
Hey,

notice the comment in the read me. so the reason you can't maintain this because you've moved on and have no time to maintain?

are you now using an alternative?

I've taken a local fork of this in my own project atm.

[2016-02-29 15:32] arqex commented on #66
Hi @export-mike

Thanks for you interest in react-datetime. Good news: youcanbook.me is sponsoring this project so updates will come more often from now on.

Anyways if you make some progress in your fork and you think it can be merge with react-datetime do not hesitate to PR. If they are nice, we can discuss if you'd like to be a maintainer of the project.

Cheers

[2016-02-29 15:32] #66 closed

[2016-02-29 15:33] arqex commented on #58
Hi @mleonard87

A new example folder has been added with a simple way of using the datepicker.

More examples will be added in the future.

[2016-02-29 15:33] #58 closed

[2016-02-29 15:34] arqex commented on #65
Not yet, but that would need a nice feature to be implemented in the future. If you feel like adding it yourself do not hesitate to PR.

Cheers

[2016-02-29 15:34] #65 closed

[2016-02-29 15:35] #45 closed

[2016-02-29 17:54] export-mike commented on #66
cool thanks!

[2016-03-01 13:42] 0xF013 commented on #41
+1

[2016-03-01 17:23] rchanou commented on #41
react-bootstrap-datetimepicker has the opposite problem (only AM/PM, no 24-hour timepicker), though it looks like they're working on releasing a fix: https://github.com/quri/react-bootstrap-datetimepicker/issues/105

[2016-03-01 18:09] 0xF013 commented on #41
if only that thing had seconds picker

[2016-03-01 18:29] arqex commented on #41
We probably will be able to add this feature defining a `timeFormat` prop with an `a` or `A`

http://momentjs.com/docs/#/displaying/

so making `<DateTime timeFormat={hh:mm A} />` would switch to the AM/PM mode.

[2016-03-02 08:39] markortiz commented on #57
I agree, date picker should close onBlur or onFocusOut or the component.

[2016-03-02 14:55] arqex commented on #57
It's not possible to close it on blur because when the user clicks on the calendar, the input loses the focus and it would get closed.

You could try it yourselves with something like:

[code]

[2016-03-03 00:31] mleonard87 commented on #57
This actually covers my use case well. Im mainly concerned when there are multiple DateTime widgets on the screen in a single form and you quickly tab through the form and they all remain open.

I just implemented the above and it works well - however, the next/previous buttons are marked us as `button` elements so when tabbing the focus goes to these rather than the next field. Is there any parti

[2016-03-09 09:35] piotrblasiak commented on #8
How about making the component use inline styles?

[2016-03-15 20:01] ConAntonakos commented on #45
Any advice as to how to customize the input `name` property? I tried `inputProps={{name: 'blah}}` but to no avail. Looking at the source.

[2016-03-16 05:41] somename85 opened #69 "If timeFormat equals 'LT' timepicker is missing"
If timeFormat equals 'LT' we can go to timepicker tab, bul it is empty.

[2016-03-16 05:57] somename85 commented on #69
http://codepen.io/somename85/pen/WwoWLW

[2016-03-20 09:15] jiminycricket commented on #69
'LT' is not a useable timeFormat, which is a Localized formats, you could try use 'HH', 'mm' or 'hh/m', all valid setting can check on this [link](http://momentjs.com/docs/#/displaying/format/)

[2016-03-22 07:03] somename85 commented on #69
It will be nice to update the docs that using Localized formats for timeFormat does not supports.
Also it is strange, because  Localized formats works fine with dateFormat.

[2016-03-26 15:24] khajonpot opened #71 "closeOnSelect is not working if I set the value property"
In updateSelectedDate function, the closeCalendar will run if I set "undefined" to value property.
It would be great if the closeCalendar can run based on closeOnSelect even if the value is set. So, I don't need to call closeCalendar manually.

[Edit]
Oops, sorry I just found that I should declare "open" property to force it close all the time.

[2016-03-26 18:19] stefApex opened #72 "Calendar taking space when using open / close methods"
I am having a small problem: if I show / hide the calendar using the open method, it will not overlap the existing content and will, instead, need extra vertical space, pushing the existing content down.

Do I need to force a specific class ???

Thanks in advance...

Stef

[2016-04-06 06:54] crobinson42 opened #74 "Input group addon w/ calendar icon"
I see a closed issue/request #45 for this feature.. i'm sure i'm not the only person that would be interested to see this feature added.

I'd be willing to contribute if you give me your guidelines to make a PR.

[2016-04-06 19:27] crobinson42 commented on #41
+1
I'd like to see this feature as well. I'm glad to help with this enhancement with contribution guidelines.

[2016-04-06 19:30] crobinson42 opened #75 "Date or Time only"
I would like to request a feature. The ability to only allow date or time on the picker, ie:

[code]
This would also set the `viewMode` to the same `mode` if passed.

The default `mode` would obviously be `datetime` with the options of `date` or `time`.

I'm glad to assist with contribution guidelines.

[2016-04-07 08:01] arqex commented on #75
Hi @crobinson42

You already can use the picker only for time or date using `dateFormat={false}` or `timeFormat={false}`.

http://codepen.io/arqex/pen/eZyZBe

Cheers,
Javi

[2016-04-07 08:01] #75 closed

[2016-04-18 02:24] FridaCai opened #77 "problem in package.json. "build": "gulp.cmd""
problem in package.json.   "build": "gulp.cmd"
in Mac, ''build':"gulp"  is ok.

[2016-04-18 05:43] FridaCai opened #78 "example.js should look like this:"
var ReactDOM = require('react-dom');

ReactDOM.render(
........
);

anyway, very cool application!
appreciate it!!!
thanks for all of you!

[2016-04-25 17:18] jensstalder opened #79 "locale issues"
I have ``moment`` and ``react-datetime`` loaded with an alternate locale

[code]

Yet it does not seem to work. The ``react-time`` plugin works though.

[2016-05-04 19:12] Renaud009 opened #81 "How to edit seconds or milliseconds?"
As introduction, you say the library "allows to edit even date's milliseconds." I don't see any example or any more mention about seconds nor milliseconds.

Can you provide me a code example?

Thank you in advance and good job

[2016-05-23 11:00] arqex commented on #81
Hey, sorry for the late reply.

To activate the millisecond edition just use a `timeFormat` prop that displays the milliseconds:

`timeFormat="H:mm:ss.SSS"`

See http://momentjs.com/docs/#/displaying/format/

[2016-05-23 11:00] #81 closed

[2016-05-26 15:02] idoo opened #86 "Simulate issue"
Thank you for a good fork!

How i can simulate 'change' event on this component wit TestUtils or Enzyme?

`wrapper.find('input').simulate('change')` not trigger onChange event for this component

any ideas?

[2016-06-01 07:37] akhilpab opened #87 "How can I add place holder if input={true}"

[2016-06-01 09:08] arqex commented on #87
Hi akhilpab

You can use the prop `inputProps` to modify the input tag:

[code]

[2016-06-01 09:27] ItsMrAkhil opened #88 "I want to reduce the size of the Calendar"
Is it possible? If yes, Please let me know.

[2016-06-01 09:28] akhilpab commented on #87
Working properly thank you.

[2016-06-01 09:28] #87 closed

[2016-06-02 14:20] C3PablO commented on #44
I had the same problem and I solved it using the answer at issue #57 using `this.refs.picker.closeCalendar()`. That works but the `open` prop it's another matter. I think that is working just for the initial state

[2016-06-06 15:33] andriy-kudrya-eleks opened #90 "Dropdown closes for controlled input when time is picked with arrows"
react-datetime version - 2.2.1
react version - 15.1.0

Steps to reproduce:
- use controlled value (sample below)
- open time selector
- use up/down buttons to adjust time

Result:
- dropdown is closed after each click

Sample comonent to reproduce bug:
[code]

[2016-06-07 15:10] scheung38 commented on #43
I am very trying to find out:

I have added

export default class MomentInputDemo extends TrackerReact(React.Component) {
     constructor() {
        super()
        this.state = {time: ''}
        this.handleChange = this.handleChange.bind(this);
    }

    handleChange(newDate) {
        if (newDate !== 'Invalid date') {
            this.setState({
                [key]: newDate / 1000,

[2016-06-09 05:08] jaraquistain commented on #90
I'm experiencing this same issue

[2016-06-14 04:55] andrewmclagan commented on #47
+ 1 million, this would be an awesome feature. At present we render two components and do math on their values and compute the date and time. We require a UI that exposes both at the same time

[2016-06-15 11:16] bandanaman commented on #41
Switching to AM/PM mode would be great feature, but since widget and date format are two separate things, maybe better idea is to specify time type with an attribute: `< DateTime twelveHourClock={ false } />`

[2016-06-16 02:10] andrewmclagan commented on #41
plus one, would be a great feature

[2016-06-16 13:09] bandanaman commented on #41
I added this functionality in my fork https://github.com/bandanaman/react-datetime and created pull request. It works as arqex described in his post - searches for " A" in entered time format.

[2016-06-16 13:14] andrewmclagan commented on #41
Will take a look. Thanks!

[2016-06-16 15:06] ecerroni commented on #41
+1
I'd like to see this feature as well.

[2016-06-18 06:16] andrewmclagan commented on #41
Any chance this PR will be merged?

[2016-06-20 14:17] hydrarulz commented on #57
For me the example did not work, I could not select any date anymore. This hack works for me

[code]

[2016-06-23 15:42] eddievagabond opened #92 "Unable to chose 12PM in Time picker"
I am unable to choose 12 PM when choosing only time. If the DateTime component shows 12:00 AM and I choose it, my input displays 12:00PM. If I choose 00:00 AM, I am able to choose 12:00 AM. Am using an incorrect time format?

[code]

[2016-06-24 15:16] eddievagabond commented on #92
Fixed with this pull request.
https://github.com/YouCanBookMe/react-datetime/pull/93

[2016-06-29 16:46] creativenode opened #94 "UTC date"
Hey all, very new to React and on the learning curve...

I'm using Redux and Redux-Form to build an app and I'm loading a UTC date (from Mongo) into a react-datetime field. After loading the date is being displayed correctly (DD/MM/YYYY formatting). However, when I change the value and attempt to save, my validation schema complains that the newly selected date is not a Date object. Therefore I th

[2016-07-01 09:38] creativenode commented on #94
I've changed the date from moment to Date by using the onChange of the Datetime field and then using .toDate().

Redux-form has built in onChange methods for each field in the form so I needed to call the Redux-Form onChange from the Datetime onChange, see below for an example.

<Datetime
{...letters.finalCertificateSentDate}
timeFormat={false}
dateFormat="DD/MM/YYYY"
onChange={param => letters.fi

[2016-07-01 09:38] #94 closed

[2016-07-01 21:51] simeg commented on #77
Addressed in PR #97.

[2016-07-01 22:12] simeg commented on #78
Addressed in PR #98.

[2016-07-05 18:34] loris opened #99 "Add custom steps for time increase/decrease buttons"
It would be pretty handy (and a requirement in a project i'm working on) to be able to pass as props custom "steps", ie. clicking on the increase button would increment the time by custom interval (15 minutes for instance) instead of just `+1`. I can push a PR with the changes if this is something useful (any recommendation on the props naming?), otherwise I will need to fork it.

[2016-07-08 19:56] loris commented on #99
I gave it a go over there: https://github.com/YouCanBookMe/react-datetime/pull/100 (and went a bit further to allow setting min, max and pad values too)

[2016-07-13 12:24] ivag opened #101 "Arrows are not working after i select a date value"
I'm using react-datetime version - 2.3.2, and the arrows are not working after i select a date .

[2016-07-14 11:35] erdinc opened #102 "attribute for disabled"
can we add something like `disabled={true}`?

[2016-07-14 14:06] andriy-kudrya-eleks opened #103 "Calendar stays open after focus is tabbed out"
Also onBlur event is not fired on tab out

[2016-07-14 15:18] desduvauchelle opened #104 "On click of the button to go to time picker, date reverts back to start of month"
Hello.
Thanks for great plugin.
One issue. I open the date picker, select for example 16 July, then click the time picker and the date goes to July 1st. You can see it in the input box as well as on the top of the time picker.

Any ideas?

[2016-07-14 15:23] desduvauchelle commented on #104
The code:

`<DateTime value={this.state.end} inputProps={{placeholder: "End..." }} onChange={this._onChangeEnd} dateFormat="dddd, MMMM Do YYYY" timeFormat="H:mm" />`

[2016-07-14 15:36] desduvauchelle commented on #104
Found the solution.
By default, the plugin creates a dateTime format like so:
`dateFormat + " " + timeFormat `
So you need your front end to parse the full date like so (in the above example):
`dddd, MMMM Do YYYY H:mm`
whereas I was parsing it like with a comma instead of a space.

[2016-07-14 15:36] #104 closed

[2016-07-14 18:07] andriy-kudrya-eleks commented on #90
Seems to be fixed

[2016-07-14 18:07] #90 closed

[2016-07-15 09:29] jeremejevs opened #105 "Consider replacing Moment with something smaller / modular"
Moment is a huge monolith, and [it's a big problem](https://github.com/moment/moment/issues/2373). In my case, it's the second largest dependency after React. Here are their unpacked numbers (after `gzip` they shrink proportionally):

[code]

I'm as much of a Moment fan as the next guy, but this is way too many kilobytes. Something like [`date-fns`](https://github.com/date-fns/date-fns) could be a

[2016-07-16 23:13] simeg commented on #101
Try upgrading to 2.3.3. If that doesn't help, can you provide a more detailed step-by-step guide on how to reproduce this bug? The best would be if you could create a [codepen](http://codepen.io/) in a reproducible environment.

[2016-07-16 23:17] simeg commented on #102
What exactly should the `disabled` property do? Should the component become visible (but grayed out = disabled) when the input element is clicked?

If you mean that the input field should be disabled you can do that by adding the `disabled` attribute to the input HTML element.

[2016-07-18 04:40] blackChef commented on #18
Why not show timepicker as a drop down list?

[2016-07-18 15:47] nirchernia opened #107 "AM/PM for time selection"
Is there any way currently to make the time selection be in 12 hour time instead of 24 hour time?

Currently it looks like this:

![screen shot 2016-07-18 at 8 47 26 am](https://cloud.githubusercontent.com/assets/7181839/16920910/59f969a4-4cc4-11e6-8eb2-af077b4b7032.png)

Can this be changed somehow? I cant seem to find anything in the docs.

[2016-07-19 09:43] arqex commented on #105
Thanks for the suggestion @jeremejevs

I am also concerned about the size of moment.js, I was when I created the datepicker, but there wasn't any real alternative then. Now I see date-fns and looks really nice, but right now react-datetime relies so much in moment.js that changing to date-fns sounds like too much work.

If you want to create a fork and give it a try, I can help you with any questi

[2016-07-19 11:50] simeg opened #108 "Run linter as a pre-push hook"
It would be nice if the linter would run automatically before every push and fail to push if the linter finds anything wrong. This would increase the quality and readability of the code written as less bugs would be introduced and the syntax would be more consistent.

It could also be argued that it should be used as a pre-commit hook.

[2016-07-19 20:47] simeg commented on #103
Can this be closed? If I understand it correctly it is resolved in [this commit](https://github.com/YouCanBookMe/react-datetime/commit/9012e8199a9db78b4a9d381378cf9843ec8c1a1e).

[2016-07-19 20:50] simeg commented on #92
This should be closed.

[2016-07-19 20:57] simeg commented on #107
Try setting the `timeFormat` prop to `h:mm A`. You can find more information about it in the [README](https://github.com/YouCanBookMe/react-datetime#api) under `timeFormat`.

[2016-07-19 20:59] simeg commented on #78
This should be closed.

[2016-07-19 20:59] simeg commented on #77
This should be closed.

[2016-07-19 22:18] mattgi commented on #99
👍 this would be awesome. The PR seems to need a rebase though and I couldn't get your fork to work locally.. any tips on how to get it up and running @loris?

This should work, correct?
[code]

[2016-07-20 13:23] loris commented on #99
@mattgi I just rebased & updated my PR with some suggestions from @arqex
All the new stuff is in the `timeConstraints` prop now, so you should use it this way:

[code]

[2016-07-21 09:56] andriy-kudrya-eleks commented on #103
Oh, yes )

[2016-07-21 09:56] #103 closed

[2016-07-23 14:12] schickling commented on #44
This seems like a bug. Applying @halkeye's fix works for me.

Could you please merge this in @arqex @simeg?

[2016-07-26 06:43] kperwel opened #111 "Starting week from monday"
Hi. Is it possible to select first day of the week? f.e in many countries is common to use Monday, instead of Sunday as first week day

[2016-07-26 06:49] kperwel commented on #111
Oh, i see. First day of the week is part of moment locale configuration. Sorry for interrupting. This datepicker is great.

[2016-07-26 06:49] #111 closed

[2016-07-27 14:43] missmellyg85 opened #112 "closeOnSelect does not work unless double click"
I have several DateTime objects in a form. They all close correctly when they lose focus, but none of them close when you select unless you double-click. I have tried a few other solutions suggested in issues #57 and #71 but it is not working.

If I step through the code with breakpoints in Chrome devtools then it DOES work, but not when I run it without breakpoints.
The problems I'm seeing specif

[2016-07-28 00:00] georgesboris opened #113 "disableOnClickOutside should be on the docs (useful for external popovers)"
Conflicts may appear when using react-datime inside another popover since the react-datetime `onClickOutside` behaviour may conflict with the same behaviour found on the popover component.

Turns out this can be disabled by setting `disableOnClickOutside` on the component.
This setting is nowhere in the docs though.

Why would someone use react-datetime inside another popover component?
Consistenc

[2016-07-28 07:04] jeremejevs commented on #105
Bundle size is not a priority in our project [yet], can't justify spending time on this, I'm afraid. Let's hope somebody else needs this more than the two of us :)

[2016-08-03 17:42] scags9876 opened #115 "allow a custom class on the rdtPicker"
It would be great if there was a way to put some css on the rdtPicker.

Specifically, i want to add a class that will add:

[code]

Since I'm using this field as a filter on the right side of my screen, when the date picker is opened, the calendar goes off the screen.  I'd like the right side of the picker to align with the right side of the input.  If there was an 'additionalPickerClass' prop, i

[2016-08-04 15:57] steos opened #116 "Multiple date pickers with different time constraints interfere"
When I have two or more time pickers with different time constraints they will interfere with each other.

Check out this minimal example: http://codepen.io/anon/pen/wWYzxp?editors=1010

The first picker has a step constraint of 15 for minutes, the second picker has none.
If you use the first picker and then the second one it will suddenly use the timeConstraints of the first one.

This even happe

[2016-08-08 08:16] damianprzygodzki opened #118 "Return event object when onFocus."
I think it is really important to get the event object when implementing own onFocus callback. I can't imagine any onFocus implementation without reference to what exactly happened. Creating refs to each DateTime component is not nice.

[2016-08-08 13:01] arqex commented on #118
Maybe the `onFocus` and `onBlur` names for the react-datetime's props are not well chosen. They should be named `onOpen` and on `onClose` because that is what they really are.

If you need to use a real `onFocus` handler for the input you can add it to `inputProps`, that way you will get access to your `event` object.

[2016-08-09 14:14] pruik opened #119 "Cannot read property 'standalone' of undefined, when using moment 2.14.x"
When using moment 2.14.1 and the DateTime component with a dutch locale (nl), clicking on the month makes the entire component freeze and the console pops up this error:

`Cannot read property 'standalone' of undefined`

It seems like the component is trying to access '_monthsShort' in the date's localeData (in MonthsView.js:59), but this array was removed in the latest version of Moment.

I can u

[2016-08-11 17:59] zombler commented on #112
@halkeye response in #44 did the trick for me (was struggling when wrapping in a field component from redux-form)

[2016-08-12 20:42] TheSharpieOne commented on #31
It will only update the props if the value changes

see: https://github.com/YouCanBookMe/react-datetime/blob/master/DateTime.js#L150

[2016-08-12 20:48] TheSharpieOne commented on #44
A larger problem which affects all of the props is that they currently cannot be changed unless the `value` prop is changed.

[this](https://github.com/YouCanBookMe/react-datetime/blob/master/DateTime.js#L150-L152) only sets the update props when value has changed.

[2016-08-22 08:21] goooseman commented on #44
Maybe it is a hack, but I've coped with this issue, just passing `hidden` className (which sets display: none) to `DateTime` like this:
[code]

[2016-08-22 10:21] sreekanth009 opened #120 "Without regular <Datetime /> fromat."
Hi, is there a way i can use without regular <Datetime/> format.. instead of this i want to use normal <input/> and bring out the calendar.
version = 2.3.3

[2016-08-22 23:34] glorp47 opened #121 "Would it be possible to add an arrow for the AM/PM component as well?"
That would be great for UX :)

[2016-08-23 16:52] chollier opened #122 "react-boostrap-datetimepicker redirect to you"
Hey @YouCanBookMe,

Just a head-up that I deprecated https://github.com/quri/react-bootstrap-datetimepicker (see README), as well as the npm package (message redirects to your repo).

[2016-08-24 07:15] arqex commented on #122
Oh, that's a pity. It's been a while since I decided to clone your repo, it was the best datepicker I could find for react then. I especially loved the way you structured the views and the simple communication with the main component. The only thing that didn't fit to me was the boostrap part :)

I also found myself in a positon that I couldn't maintain this datepicker, (maintaining it is a lot of

[2016-08-26 13:10] davidfurlong commented on #122
This repo seems to be unmaintained (lots of open PRs that haven't been merged and look good and have been waiting for 30 days)

[2016-08-26 13:39] davidfurlong commented on #88
You mean the dimensions?

[2016-08-26 13:39] davidfurlong commented on #121
Can you elaborate?

[2016-08-26 13:58] arqex commented on #122
Sorry @davidfurlong for the delay, I am on holidays and I am the only maintainer. From all the open PRs open only the latest 2 are considered to be merged, in case you need to know the direction that the datepicker is going.

[2016-08-26 14:04] davidfurlong commented on #122
@arqex ah okay, sorry I didn't mean to jump to any conclusions. I'm particularly interested in updating to newer versions (15) of React

[2016-08-26 14:48] akhilpab commented on #88
Dimensions only

[2016-08-26 16:23] davidfurlong commented on #88
You're welcome to customize the css in any way you choose, but I doubt that
this will be supported in this repo. See
https://github.com/YouCanBookMe/react-datetime/blob/master/css/react-datetime.css

On Fri, Aug 26, 2016 at 4:48 PM, akhilpab <notifications@github.com> wrote:

[2016-08-26 19:47] glorp47 commented on #121
Well as I understand the AM/PM doesn't have an arrow underneath it which
allows you to change it, you have to manually click from 11 AM to 11 PM.
Unless I'm missing something

On Aug 26, 2016 11:38 AM, "David Furlong" <notifications@github.com> wrote:

[2016-08-26 19:56] davidfurlong commented on #121
Ah I see what you mean! Will look at it now

[2016-08-26 22:45] davidfurlong commented on #121
@glorp47 implemented, see https://github.com/YouCanBookMe/react-datetime/pull/124

[2016-08-27 12:14] Divyansh1605 opened #125 "Is it possible to open modal for calender default on some other date instead of current one."

[2016-08-27 23:55] simeg commented on #125
No, it's not. The `value` prop has been commented out as you can see here:
https://github.com/YouCanBookMe/react-datetime/blob/master/DateTime.js#L24

I can't find the pull request for when it got commented out, but WebStorm says it was commented out when a bug was fixed: **`Fixes timepicker not showing when dateFormat=false`**

You can always bring the prop back and create a pull request.

[2016-08-28 04:27] Divyansh1605 commented on #125
Actually i have tried something with it, onFocus i setted the value say: 18years back from now and opened the modal by open=true.
 Worked for me.
But onBlur is not called as expected,so i am not able to close the modal by open=false.

[2016-08-28 07:35] simeg commented on #125
That's an option, sure. But it's a hacky solution and therefore not all functionality is working, as you have seen.

[2016-08-29 21:54] layneanderson opened #126 "Changing Locale does not immediately change component."
I dynamically change the Locale (e.g. locale={theLocale} ) and it does not change the language on the component right away.  It does change after I select a date and then reopen the date-picker.

[2016-08-30 12:52] #125 closed

[2016-08-30 12:57] simeg commented on #122
@davidfurlong I've been added as a maintainer to this repo so hopefully things will move a bit quicker now. I'll take into consideration your idea about updating this to comply better with v.15 of React and looking forward to your future ideas.

[2016-08-30 12:59] simeg commented on #120
Hi Sreekanth,
I am not exactly sure what your issue is based on your description. Can you please try to explain your issue a bit more? Thanks.

[2016-08-30 13:11] pies opened #127 "Increasing minutes beyond 59 doesn't increase the hour"
In the time widget, when I increase time above 59, the minutes (correctly) switch back to 0, but the hours do not increase by one.

[2016-08-30 15:19] #121 closed

[2016-08-30 15:44] #107 closed

[2016-08-30 15:49] simeg commented on #99
Closing this as PR #100 was merged.

[2016-08-30 15:49] #99 closed

[2016-08-30 16:07] #78 closed

[2016-08-30 16:08] #92 closed

[2016-08-30 16:09] #36 closed

[2016-08-30 16:09] #77 closed

[2016-08-30 16:13] simeg commented on #17
Closing this as you can run the `build` task as both a Windows and Mac user now (`npm run build:win`/`npm run build:mac`).

[2016-08-30 16:13] #17 closed

[2016-08-30 16:15] simeg commented on #72
Can you create a codepen for this? Because I am unable to reproduce it.

[2016-08-30 16:34] #108 closed

[2016-08-30 19:17] #38 closed

[2016-08-30 19:18] #40 closed

[2016-08-30 19:19] simeg commented on #41
Closing this as referenced PR is merged.

[2016-08-30 19:19] #41 closed

[2016-08-30 20:15] simeg commented on #33
@psibi, are you still having this problem?

[2016-08-30 20:17] #116 closed

[2016-08-30 20:19] simeg commented on #127
It's the same behaviour with the hours, increasing hour from 11 -> 12 doesn't affect anything else. I agree this should be fixed.

[2016-08-31 08:10] arqex commented on #127
That behaviour is intended, I use the time picker setting the hours, then the minutes and then the seconds. If I want to set it to 11:50:50, I set 11 in the hours, and after that I would try to set the 50 pressing the decrease button for the minutes, if it changed the hours to 10 I would need to go back to the hours and set it to 11 again.

[2016-08-31 08:24] arqex commented on #126
Hey @layneanderson

Thanks for contacting, that's because the locale is set when the moment.js object that the datepicker uses internally is updated, so the current moment.js object is not being affected by the change and we need to refresh it somehow.

We probably should check the change at `componentWillReceiveProps` and refresh the internal moment.js to make it work as expected.

[2016-08-31 15:35] simeg commented on #127
Thinking about it, the component is a date picker and as a user you are suppose to set the time. Thinking about it as a clock of some sort it makes sense to make the hour increment when minutes go past 59, but as a simple time selector it does not.

[2016-08-31 15:35] #127 closed

[2016-08-31 15:36] simeg commented on #31
This is a copy of #126. Closing this, please continue any discussions there.

[2016-08-31 15:36] #31 closed

[2016-08-31 15:37] simeg commented on #26
Closing this as no recent activity.

[2016-08-31 15:37] #26 closed

[2016-08-31 16:30] simeg commented on #113
Thanks @georgesboris. I updated the README.

[2016-08-31 16:30] #113 closed

[2016-08-31 17:19] simeg commented on #115
You can use the prop `className` which adds the provided class to the outermost element (`rdt`), from there you can target the `rdtPicker` as it is a child of the `rdt` element.

[2016-08-31 17:19] #115 closed

[2016-08-31 20:01] layneanderson commented on #126
Hi @arqex

I thought this was the case.  I've run into similar issues on my own components and fixed it in `componentWillReceiveProps` as well.  I was curious to see if there was another way to fix that I haven't thought of. :smile:

You guys are doing a great job, thanks!

[2016-09-01 14:37] arqex commented on #126
It's the simplest fix, isn't it? Duplicating the data that a component rely on is always a source of issues, react-datetime does it in several places, that we hope we can fix it in the future.

In the case of the `locale` prop, the `componentWillReceiveProps` I think it's the only solution, because that part of the state lives in the moment.js object. For other props, maybe there are other solutio

[2016-09-02 12:59] simeg commented on #79
Hi @jensstalder. Does the console say anything? How does it show that it's not working?

Here you have a working example: http://codepen.io/arqex/pen/PqJMQV

[2016-09-02 22:26] rchanou commented on #41
Awesome, will the latest version be pushed to npm soon?

[2016-09-03 13:06] katzuta opened #129 "IsValidDate Not hire when dateFormat is set"
Hi,
The function IsValidDate is not hire when we set a dateFormat
example : http://codepen.io/anon/pen/dpyEGr?editors=1112

In the example, we want limit month selector, without this function we can't...

[2016-09-03 20:25] ivag commented on #101
Works fine in 2.3.3. Thanks.

[2016-09-03 20:25] #101 closed

[2016-09-04 18:24] dutch92 opened #131 "Datetime.moment.set() does not set value by reference"
standart moment().set() changes variable, but Datetime.moment.set() doesn't

[2016-09-04 18:52] dutch92 commented on #131
Sorry, i m

[2016-09-04 18:52] #131 closed

[2016-09-04 18:53] dutch92 commented on #131
sorry, it was my mistake))

[2016-09-05 02:55] vizFlux opened #132 "[Question] How can I make the provided css file work for the datepicker?"
I am using CSSModules to import css to my components. So what I did was to copy the provided css and import it with `import styles from "./rdt.css"`. Unfortunately it doesn't work as expected. Am I missing anything here?

[2016-09-05 07:56] arqex commented on #132
Hey @vizFlux

Never tried CSSModules so I can't help with that. I usually load the styles using webpack's style+css loaders and work like a charm.

You can also add the tag the header of your index.html, if you are still having problems.

[2016-09-05 08:47] vizFlux commented on #132
I am using MERN stack, it doesn't load even after having the css pasted into main.css which imported to index.js :(

[2016-09-05 12:48] simeg commented on #132
Is this the only React component you're having this problem with?

[2016-09-05 12:52] simeg commented on #62
I'm not sure what to do with this.. maybe add something to the docs?

What do you think @arqex?

[2016-09-05 14:53] vizFlux commented on #132
Yes

On Mon, Sep 5, 2016 at 8:48 PM Simon Egersand <notifications@github.com>
wrote:

[2016-09-05 23:16] grigored opened #133 "am/pm doesn't display correctly"
see the attached image, which can be replicated on the sample codepen in the readme http://codepen.io/simeg/pen/mEmQmP
<img width="272" alt="screen shot 2016-09-06 at 2 06 24 am" src="https://cloud.githubusercontent.com/assets/12827406/18258093/ea3178a6-73d7-11e6-8fb3-2102d84fc9fa.png">

[2016-09-06 08:12] simeg commented on #133
Thanks. I just noticed this as well, I'm investigating 🔬

[2016-09-06 08:31] simeg commented on #127
Maybe this should also be the case for switching between AM to PM? E.g. going from 11 -> 12 switches the AM/PM. To keep consistency we should decide on one approach, and I like your idea to just keep it simple.

Thoughts, @arqex?

[2016-09-06 08:48] arqex commented on #127
I think maybe we can add a new prop for this, if the prop is "on" updating the minutes over the 59 will increase an hour, and under 0 will decrease the hour. The same would happen for seconds and hours with the AM/PM selector.

That way we can satisfy everybody and we are not including a breaking change. What do you think?

[2016-09-06 08:50] simeg commented on #133
This is because of the following commit: https://github.com/YouCanBookMe/react-datetime/commit/79e319bb213a10d146c9ecf054199cbe52e4c712

I'm guessing the flow is broken and the element is inserted in the DOM at an too early stage. I will look further into this later (if no one is quicker than me).

[2016-09-06 08:51] simeg commented on #127
That solution sounds good to me.

[2016-09-06 12:49] simeg commented on #133
This was fixed as the version was bumped. The CSS is now in sync with the JS code. Thanks @grigored.

[2016-09-06 12:49] #133 closed

[2016-09-07 14:39] simeg commented on #132
Are you sure you're importing the correct file? It's not called `rdt.css` in the repo, it's called `react-datetime.css`.

Can you give an example of a React component you're using which is working out-of-the-box with CSSModules?

[2016-09-08 10:30] taijuten opened #135 "Allow further HTML input props"
Currently missing functionality includes:

* Placeholder
* disabled

(unless I'm mistaken)

[2016-09-08 10:35] taijuten commented on #135
After further looking into the API, it appears that the `inputProps` prop allows this. Sorry for the raised issue, closing.

[2016-09-08 10:35] #135 closed

[2016-09-08 13:32] jmfrancois commented on #122
So this issue should be closed ?

[2016-09-08 14:33] tsnolan23 opened #136 "Preventing the selection of date and times in the past"
Is it possible to prevent the picking of dates and times that have already past? We only want to allow the selection of future dates.

[2016-09-08 14:38] #136 closed

[2016-09-08 14:38] tsnolan23 commented on #136
I apologize, I see this is in the documentation

[2016-09-09 11:05] MilosRasic opened #137 "Time zone support?"
Does this component support time zone for the displayed time? For example, if I set defaultValue as string or Date object or moment object that contains time zone information with time zone other than the user's local setting, will this be displayed in the datetimepicker or will it be converted to user's local time zone?

[2016-09-10 18:22] simeg commented on #137
Hi @MilosRasic,

As the API specifies, you can use a moment.js date to set the `defaultValue`, and you can specify a specific timezone for the moment.js date. [Here you can read more about timezones and moment.js](http://momentjs.com/timezone/). I hope this answers your question, otherwise let me know.

[2016-09-10 21:33] #122 closed

[2016-09-11 11:21] arqex commented on #8
Hey this issue it's so down on the list that it's not visible anylonger in the first page. Since all the suggestions have been included, I am closing this.

[2016-09-11 11:21] #8 closed

[2016-09-11 11:26] arqex commented on #132
The last comment in https://github.com/YouCanBookMe/react-datetime/issues/8 suggests that we should include the styles inline. It's a great idea with one downside: we would be adding the styles everytime that the picker is included, and that can happen more than one in the same page.

On the other hand, no developer would need to add the styles manually, which makes the use of react-datetime much

[2016-09-11 11:30] arqex commented on #119
Thanks @pruik

The component uses that array because it's the fastest way of having all the shortnames for the months. But it has been a source of problems from the very begining, because it exists (or not) depending on the locale used.

We probably would need to get all the names using moment js method, and cache them internally for the current locale to stop seeing this kind of problems.

[2016-09-11 11:32] arqex commented on #120
If we don't have more info about the issue after a month I think we will be able of closing it. What do you think @simeg? when it's a good time to close a stale issue?

[2016-09-11 11:32] #118 closed

[2016-09-11 11:54] arqex commented on #112
I think we should update the react-onclickoutside dependency. It's already too old, and I found myself with similar problems in other projects.

[2016-09-11 11:56] arqex commented on #102
Well replied, and old enough to close :)

[2016-09-11 11:56] #102 closed

[2016-09-11 11:58] arqex commented on #88
As @davidfurlong said, ( thanks david ), changing the size of the component is as simple as ovewritting CSS rules.

[2016-09-11 11:58] #88 closed

[2016-09-11 12:03] arqex commented on #86
Hey, nice question. Sorry for the delay replying.

I would go calling directly the onChange handler like this:

[code]

[2016-09-11 14:06] simeg commented on #132
Generally I feel like we should do as most other components does it, and I've never seen a React component with inline styling. What are the benefits of having the styling inline (besides resolving this particular issue)?

[2016-09-11 14:14] simeg commented on #120
If we have asked and it's up the the other person to provide more information, then I think we can close it after a month 👍.

[2016-09-11 14:14] #120 closed

[2016-09-11 17:04] JimBarrows opened #140 "When date is null, "NaN" is displayed."
I'm passing in a moment, that was created from a null date.  The component responds with "NaN", and should respond with a blank input box.

[2016-09-11 17:11] simeg commented on #140
Hi @JimBarrows,

In what prop are you passing in the moment object to get this result?

[2016-09-11 17:57] JimBarrows commented on #140
The thruValue is the moment wrapping a null.
`<DatePicker id={this.thruName} name={this.thruName} value={thruValue}
							            onChange={this.thruChange.bind(this)} dateFormat={dateFormat} timeFormat={false}/>`

[2016-09-12 07:33] arqex commented on #132
The benefits are that you don't force the component user to load the stylesheet separatelly. Inline styles sounds somehow ugly, but if you use webpack's style loader is basically what you are doing.

The other way of not making the users load the styles separately is applying the styles directly to the tag, but that makes them really difficult to overwrite.

[2016-09-12 13:21] simeg commented on #132
So how would a developer override the inline styling? Because inline styling has highest prio. Changing the styling in the JS feels a bit awkward, and by using external CSS you have to use `!important` to be able to overwrite inline.

[2016-09-12 13:29] ryanhca commented on #132
I've been using "Aphrodite" and was able to write a few trivial styles in the source file in order to get the styling to do minor tweaks here and there. It has been very successful and awesome!

[2016-09-12 13:31] ryanhca commented on #75
@arqex fyi that codepen has issues/Is not rendering/is not complete.

[2016-09-12 13:40] simeg commented on #75
@ryanhca in what way? It's working for me. It might be a bit hard to see since the input field is missing a border.

[2016-09-12 13:57] ryanhca commented on #75
@simeg I see it now haha! Sorry!

[2016-09-12 13:58] simeg commented on #75
@ryanhca no worries, I thought the same thing the first time I saw it :)

[2016-09-12 14:27] arqex commented on #132
When I say "inline styles" I mean the same stylesheet in a `<style />` tag. That's easily overwritable :)

[2016-09-12 14:35] simeg commented on #132
@arqex oohh, I see. Ok that makes more sense then. In that case I have no objections against having them inline :) I'll create an issue for it.

Let's keep this issue open for further discussions and to see that @vizFlux's problem gets resolved.

[2016-09-12 14:41] simeg opened #142 "Use inline styling"
To make sure everyone gets the styling of the component (without using webpack loaders and what not) we should use inline styling. See discussions in issue #132.

We should do this according to **best practice**, and we should also consider how a developer could **override the default styling with custom styling**. How can we make it simple for everyone?

[2016-09-12 15:50] layneanderson commented on #142
I like the method of using an Object to overwrite styles like done in https://github.com/marcio/react-skylight (see demo page).  I found it very easy to use, however, I haven't played with it enough to see what limitations there are.

[2016-09-12 16:05] simeg commented on #142
@layneanderson I could not find anything in the demo page, but in the `src/` I found [an approach I really like](https://github.com/marcio/react-skylight/blob/master/src/skylightstateless.jsx#L20) (maybe this is what you are referring to).

I like it because you are not mutating the styles state, you can extract the styling to a separate file and it's very obvious what you are doing. Nice find 👍.

[2016-09-12 17:26] layneanderson commented on #142
@simeg yes, that's essentially what I was referring to.  The demo page (http://marcio.github.io/react-skylight/) shows a few examples of how it's used.  I like that all the overrides can be kept in a nice neat Object.  :smiley:

[2016-09-12 17:38] simeg commented on #142
@layneanderson oh you could scroll down haha, totally missed that. I see now what you mean, it looks very nice ☀️.

So a problem is that probably all CSS classes can be removed, but that breaks everything for everyone. I'm guessing a lot of people use their own CSS as the default one is rather minimal. How do we deal with this? @arqex thoughts?

[2016-09-12 21:19] simeg commented on #129
Hi @katzuta,

I agree, you should be able to use a `dateFormat` and `isValidDate` at the same time. I'll see what I can find 🔬. Feel free to look at it yourself as well, if you'd like.

[2016-09-12 21:24] simeg commented on #79
Closing this as there's no activity from author.

[2016-09-12 21:24] #79 closed

[2016-09-12 21:27] simeg commented on #71
I will close this as the author seems to have resolved his/her issue (looking at the edit comment).

[2016-09-12 21:27] #71 closed

[2016-09-12 22:03] simeg commented on #69
Added clarification to documentation in commit https://github.com/YouCanBookMe/react-datetime/commit/1de42c583b743fbd981af9ff9584fa6845ce6828.

[2016-09-12 22:03] #69 closed

[2016-09-12 22:08] simeg commented on #62
Useful information, but a bit too general to squeeze in to the documentation (from my understanding). I'll label it and close it.

[2016-09-12 22:08] #62 closed

[2016-09-12 22:21] simeg commented on #57
@mleonard87 I think the `<button>` elements are replaced with `<span>` elements. I've tried having multiple components on a single page and I can successfully tab between them without anything else but the `<input>` element getting focus.

Thanks for the solution and comments. I will close this now, if anyone is still having issues just re-open this again.

[2016-09-12 22:21] #57 closed

[2016-09-12 22:28] simeg commented on #47
I think this is a good idea, we can use a prop to decide the layout of the datepicker. I think we should create a new prop called `displayMode`. Looking at current props there's nothing really describing what we want to do. And this mode mentioned in this issue could be called `dayTimeLandscape` or something like that.

One question that comes to mind is - what happens if the user clicks the month

[2016-09-12 22:56] simeg commented on #43
@scheung38 that doesn't sound like the problem lies with react-datetime. It sounds like your webpack config is off. [I searched for your error](https://www.google.com/#q=Missing+class+properties+transform) and got some hits which I think may help you.

Closing this as the original author resolved his issue. Thanks people.

[2016-09-12 22:56] #43 closed

[2016-09-12 23:36] simeg commented on #42
@brenoferreira from what I can find, the only explicit reference to `react-dom` in the code base is in the test file. From that information only I think it can be moved to `devDependencies`.

@arqex what is the plan with this? Should we aim for a release who fully supports React 0.14 (or even 0.15 maybe)? Also, do you think we can move the dependency `react-dom`? **Note**, I have not tried buildin

[2016-09-12 23:40] simeg commented on #33
Closing this because of lack of activity, feel free to re-open if issue persists.

[2016-09-12 23:40] #33 closed

[2016-09-13 00:10] simeg commented on #44
I think we should consider adding more props to be checked inside the `componentWillReceiveProps`, but I don't know what props and why/why not. The point that @TheSharpieOne is making about that `value` prop is triggering all other props to update is also worth thinking about. Maybe you want to change the `locale` without having to change the value? I'm sure there's more props you want to do check

[2016-09-13 04:44] TheSharpieOne commented on #44
The real question is why limit this? Are you checking for specific props to change for performance reasons? Usually you can just check that the props object is the same and if it isn't, then update the state. Whether open prop changed or the locale prop changed or any other prop changed shouldn't matter, they should all trigger a render. Performance-wise, if the developer to constantly changing pr

[2016-09-13 07:01] vizFlux commented on #132
@simeg @ryanhca I am using Aphrodite in my MERN project, and it is working well in replacing the styling. For example:

[code]

However, this only get the style replacement done, but not much in getting the default stylehsheet applied. The method I used to get the `react-datetime.css` applied in my current work is declaring the class as global with postcss:

[code]

[2016-09-13 14:00] arqex commented on #47
I thought the same as you simeg, month or year picker with the timepicker at its side doesn't play really well. It should hide the timepicker then.

I don't see that this change would be a priority, if we ever implemented it, the way the different views are loaded in the component have roots in its internal structure, so it would be a change to big right now . If that layout is needed, it can be d

[2016-09-13 14:13] marcosideame opened #143 "minDate and maxDate"
Hi,

Can I set the minDate and maxDate?

Thanks

[2016-09-13 14:35] arqex commented on #44
The problem is not re-rendering after props updating. It actually happens, the component gets rerendered. As @simeg said, there are some props that are not pure props, but initial state ones.

Everybody likes the component to open and close on focus or clicking outside out of the calendar, so the fact that it's open is not handled by the prop directly, but by the internal state of the component.

[2016-09-13 15:39] TheSharpieOne commented on #44
The other option, which is less invasive than using refs imo is a callback. Let the user know that the calendar was shown or hidden, `onToggle(isOpen)`, they can control the component but not have as much manual process
This is more like the controlled components you mention, but without having to manually listen for all of those events.
[code]
(for the sake of 1 line example, ignore the `jsx-bind

[2016-09-13 17:44] tunessofia commented on #143
@marcosideame yes you can, this component receives a property IsValidDate. See the info here
https://github.com/YouCanBookMe/react-datetime#selectable-dates

Although there is no way apparently to set the minHour and maxHour

[2016-09-13 17:53] tunessofia commented on #18
@arqex are the team working on a solution for this? would be nice just to have some kind of limit, even without the time intervals

[2016-09-13 20:50] simeg commented on #132
@vizFlux Glad to see you managed to fix it. It seems like a lot of work to get the styling and to be able to customize it. To me that's a sign of something being broken.

[2016-09-13 21:04] simeg commented on #143
@tunessofia Thanks. You can use `timeConstraints` [found in the API](https://github.com/YouCanBookMe/react-datetime#api) to control the minHour and maxHour.

[2016-09-13 21:04] #143 closed

[2016-09-13 23:46] marcosideame commented on #143
@tunessofia Thanks!

[2016-09-14 04:14] ryanhca commented on #132
in the DatePicker.js file I import Aphrodite like this

`var assign = require('object-assign'),
        ...
	StyleSheet = require('../aphrodite')
;`

then created the styles object at the bottom of the file

`
module.exports = Datetime;
var styles = StyleSheet.StyleSheet.create({
	bottomInput:{
		border: 'none',
		borderBottom: '2px solid #e9e9e9',
		display: 'inline',
		fontSize: "16px",
		color:

[2016-09-14 11:15] vizFlux commented on #132
@ryanhca Amazing! didn't expect we can use Aprodite this way. However, this approach means I do need to amend the source code in the node_modules, do I?

[2016-09-14 12:30] simeg commented on #18
@tunessofia from what I know no one is working on this. Your description is of `timeConstraints` is correct.

If we would implement a `isValidTime` as @Youpinadi suggests (don't handle multiple time intervals), we wouldn't have to care about the UI stuff @arqex mentions.

If people instead want to be able to control specific time intervals for specific days it becomes a bit trickier.

[2016-09-14 16:27] tkh44 opened #144 "Using devtool eval for build is terrible for performance and should not be used for production build"
https://github.com/YouCanBookMe/react-datetime/blob/master/gulpfile.js#L52

[2016-09-14 16:35] tkh44 commented on #142
You don't have to remove the styles.  You could just pass the relevant style object to each component.  Users not wanting to use the css files just won't import them and the style object will take precedence anyways.

[2016-09-14 21:43] TianyiXia opened #145 "[question] keyboard Navigation"
Hi, just wondering if there is way to do keyboard navigation for the date picker? Like using left/right key to navigate date? Thanks.

[2016-09-14 21:46] ryanhca commented on #132
@vizFlux Well. you have two options. When you push your code up to a production/staging server it is going to be written in the modified files and it will remain there with your styles. BUT if you are .gitIgnoring your node_modules (Which you should be) then anyone else who works on the code base wont get them. So we actually forked and cloned the library and tweaked some things and shoved it into

[2016-09-15 01:13] vizFlux commented on #132
@ryanhca Wow I must admit as a fresh front-end developer in React, I learned some very useful things alone in this issue. Appreciate very much of your sharing man, much enjoyed!

[2016-09-15 22:40] simeg commented on #145
Hi, thanks for your question.

It's not possible to do this right now. Personally I don't think this is a prioritised issue that should be fixed immediately, but can you elaborate on your use case?

Thanks.

[2016-09-15 22:51] simeg commented on #140
@JimBarrows this should now be fixed. Wait until next release and then please come back if the problem remains, thanks.

[2016-09-15 22:51] #140 closed

[2016-09-16 01:32] simeg commented on #144
@tkh44 Nice catch! Fixed in #147.

[2016-09-16 01:32] #144 closed

[2016-09-16 02:51] bairisuresh opened #148 "Unable to get the selected date value into the redux-from when date selected"
Hi @arqex

I am using the react-datetime with redux-form. When selecting the date the value is not available to redux-from when submitting the redux-from.

Can any one help me to resolve this please.

[2016-09-16 09:14] rroslaniec commented on #142
Maybe consider to use https://github.com/Khan/aphrodite?
You can have a css for each components and pass new via props.
Most ppl uses css with webpack (postcss or smth else) - it could be work

[2016-09-16 10:25] simeg commented on #148
Hi @bairisuresh.

[According to the `redux-form` documentation](http://redux-form.com/6.0.0-alpha.4/docs/faq/CustomComponent.md/) custom components who wants to use `redux-form` requires access to the `value` and `onChange` attributes. `react-datetime` exposes both of those attributes as props. So you need to connect `redux-form` to `react-datetime` using those props. Does that make any sense?

[2016-09-16 10:32] bairisuresh commented on #148
<form onSubmit={handleSubmit(this.handleFormSubmit.bind(this))}></form>
when i submit the form in the handleFormSubmit function i will get formprops (all form values as key value pair). here for the date field am getting dateTime object ({_isAMomentObject: true, _strict: true, _isUTC: false, _pf: Object, _locale: r…}) not direct date value what we have selected on the screen.

[2016-09-16 13:28] simeg commented on #148
I think you are getting the date represented as a `moment.js` object. Can you try calling `.toDate()` on the object? [Here's some documentation about `moment.js`](http://momentjs.com/docs/#/displaying/as-javascript-date/).

[2016-09-19 17:12] TianyiXia commented on #145
im trying to automate setting

[2016-09-19 17:12] #145 closed

[2016-09-21 09:29] grbatinic-bogdan opened #150 "Unable to set the name of the input"
Is there a way to set a name property of the input? I'm trying to serialize the form data and my datetime fields are not being serialized because name property is missing from the input. I've tried adding `name="someInputName"` as prop.

[2016-09-21 15:05] arqex commented on #150
Yes, in the docs you can see that there is a `inputProps` prop. `inputsProps={ {name: 'someInputName'} }` should work

[2016-09-21 15:05] #150 closed

[2016-09-23 00:48] baldwmic opened #151 "Date Side Effects with Time Constraints"
# Issue
I'm experiencing strange side effects for the date value when using the AM/PM buttons with custom time constraints.

## Example
![react-datetime-bug](https://cloud.githubusercontent.com/assets/10538297/18770201/a21839f6-8101-11e6-9ed2-8de78803ca1d.gif)
Notice the value of the date is logged to the console when it changes.

### Note that
- 💚 When the date is `9/22` the `hour` button properl

[2016-09-23 01:36] baldwmic commented on #151
Also, I've found another bug with the time constraints:
1. Select a date in the future on the calendar.
2. Select the time picker and go to a time that is in the past for today's date. For example, if today is `Thursday, 10 PM`, select `Friday, 10 AM`.
3. Select today's date on the calendar. Note that the time is allowed! According to the time constraints provided in the [Codepen above](http://cod

[2016-09-26 14:15] simeg commented on #148
@bairisuresh did you manage to solve this?

[2016-09-26 14:16] simeg commented on #137
@MilosRasic are you still having problems?

[2016-09-26 15:09] simeg opened #153 "Enable pre and post content to be added"
Reading the comments for #45 there's a suggestion to add prefix and postfix properties to enable to input content on either left (pre) or right (post) side of the input field.

To me this seems like a reasonable approach to enable users to add e.g. icons, buttons and similar things (that's often requested). This way we're not changing any code of the actual component.

A downside to this is of cou

[2016-09-27 06:58] grbatinic-bogdan commented on #148
If someone else was struggling with this, I had the issue of connecting redux-form to react-datetime component. The values from datetime fields were not present in submit callback. [In the redux-form docs](http://redux-form.com/6.0.0-alpha.4/docs/faq/CustomComponent.md/), it stated that value and onChange was on props object, but it was in props.input object. Code example below:

`<Field name='fie

[2016-09-27 22:49] jpatel3 opened #155 "date only to time only update on mode change doesn't work"
I have parent dropdown which decides if component needs to be date only or time only. Once the date only control is rendered, changing the parent to time only calls the render again but doesn't refresh the component. On click of the text box, I still get date selection. Sometimes, it does get the time control, but the behavior is not consistent.

Is there any way to force refresh of HTML? or am I

[2016-09-28 14:22] arqex commented on #153
Hey @simeg

I had thought something even more generic. We can have a `renderInput` prop that accepts a function like:

[code]

That would print the input just right like it is now, so it would be our default `renderInput` prop. But that is so flexible, people could customize it so much that they could render whatever they like, not even an input there.

We could do the same with the views, `render

[2016-09-29 13:43] mikethejet opened #156 "Is there a way to select the date/time in hover selection (not input) ?"
For example when i know that most of events start about 18:00 i want to predefine the selectable time in time "combo" (not in input, only predefine the time selection)
Any help ? Any method how to set it?

![times](https://cloud.githubusercontent.com/assets/2683571/19105468/5ad265fe-8ae2-11e6-9858-d450467d2cf0.jpeg)

[2016-09-30 03:54] huyttq opened #157 "timeFormat setting does not work as expected"
Reproducing bug [here](http://codepen.io/anon/pen/yaoELg)

[2016-10-04 13:44] gferreri commented on #157
try `<Datetime timeFormat={false}/>` instead of `<Datetime timeFormat="false"/>`

[2016-10-06 19:30] simeg commented on #155
Hey @jpatel3.

Could you please provide a code demo for this? It would make it a lot easier.

[2016-10-06 19:37] simeg commented on #156
Hi @mikethejet. Looking at the API I do not think this is possible, but I do think it's a good idea to be able to set the predefined time. A problem with that is that you can also set `timeFormat` and `timeConstraints`, and the component would have to keep track of the prioritisation.

If you feel like you want to create a PR for this I'd be happy to review it.

[2016-10-06 19:39] simeg commented on #157
Hi @huyttq. The `timeFormat` wants either a `string` or a `boolean`, I think you are trying to input a `boolean` but you are inputting a `string`. @gferreri has the solution (thanks!).

[2016-10-06 19:39] #157 closed

[2016-10-06 19:47] #137 closed

[2016-10-06 19:48] #72 closed

[2016-10-06 19:56] simeg commented on #47
@arqex you certainly know the codebase better than me, so I trust you when you say it's a big change :) For now a wrapping component could be created if someone wants to use the component like this. Please let us know if you have created one!

[2016-10-12 08:35] gvelo opened #162 "onFocus() and onBlur triggered on inconsistent state."
`onFocus()`and `onBlur()` are triggered when state is set not when state is applied. This lead to inconsistent behaviour.

For example.
1. click on input
2. datetime `setState( open:true )`
3. datetime call`onFocus()`
4. parent component re render to change style or whatever
5. datetime `componentWillReceiveProps()` is executed and state is recalculated based on inconsistent state ( open=false)
6.

[2016-10-12 08:48] gvelo opened #163 "componentWillReceiveProps() is not honouring old state"
when `currentView = 'days'` and `update.open === undefined` , if the datepicker state was `open`, it should remain `open`. In other words, when `currentView = 'days` and the parent component re render executing datepicker `componentWillReceiveProps()`, datepicker will close.

[code]

[2016-10-13 10:52] MilosRasic opened #166 "Displayed selected date not updated when dateFormat prop changes"
See title.

My guess is the problem is in `componentWillReceiveProps()`. A quick dirty edit in node modules confirms that doing a full `this.getStateFromProps(nextState)` in `DateTime.js` line 161 solves the problem.

[2016-10-14 17:51] stevendesu opened #168 "Add ability to select date in 12-hour AM/PM format"
In the `calculateState` function of `src/TimeView.js` it creates counters for the hours, minutes, and seconds:

[code]

However it does not create an additional counter for "AM/PM" when the format contains " A"

Therefore upon clicking the DateTime input you see a properly AM/PM formatted time:

![am-pm-time](https://cloud.githubusercontent.com/assets/1384974/19397224/ee7ae3a6-9214-11e6-9869-09f93

[2016-10-15 18:18] simeg commented on #168
Hi @stevendesu. I can't reproduce this. If you check out [the demo](http://codepen.io/simeg/pen/mEmQmP) it works as intended. Can you please provide a code example which is not working as intended? Thanks.

[2016-10-17 13:53] stevendesu commented on #168
I'll try to pull together the minimum necessary code to repro. I'm experiencing the issue on a fairly large project within my company so it could take some time to figure out.

[2016-10-17 14:01] stevendesu commented on #168
Doing some further research it looks like this issue was resolved in v2.3.2 -- we were still using v2.1.0

I'll update the library and if the issue is resolved I'll close this

[2016-10-17 14:52] stevendesu commented on #168
Looks like updating it resolved the issue! Sorry for the distraction 😄 Closing this now

[2016-10-17 14:52] #168 closed

[2016-10-17 18:20] greenais opened #169 "Click outside doesn't close calendar"
Clicking outside doesn't close calendar and time-picker (if they were opened) - where could be an issue?
And if I put two <Datetime> components on the one page (even inside separate divs) - only first one works, second doesn't respond at all. What could be wrong?

On top of this:
I'm on react 15.3.2 and getting 13 warnings in console (for different props) like this:
_> Warning: You are manually ca

[2016-10-17 20:22] simeg commented on #169
Hi @greenais. About when clicking outside - have you by any chance set the prop `disableOnClickOutside` to `true`? Because in that case it's not suppose to close if you click outside of the component.

This component is not tested using `react` v15 yet, it's something we have on the roadmap to be done. I have stumbled upon the error you are getting for this component before, in that case the versi

[2016-10-18 17:02] greenais commented on #169
Hi @simeg,
no, I didn't set anything special. just plain <Datetime/>. Even more - tried closeOnSelect={true} which doesn't work either.
Thank you for your response, I've doublechecked #112 to get some clue but with no good, unfortunately.
Sorry, I'm not that familiar with GH pool requests yet, could you please guide me in some right direction? I'd like to help contribute to your great work, really

[2016-10-18 19:54] simeg commented on #169
Could you try removing one component to see if you're still having problems with the click outside, please?

Sure, help is always appreciated! Here's some info about [creating your first pull request](http://www.davepaquette.com/archive/2016/01/24/Submitting-Your-First-Pull-request.aspx), you should also read the [`CONTRIBUTING.md`](https://github.com/YouCanBookMe/react-datetime/blob/master/CONTRI

[2016-10-19 19:27] MrLeebo opened #171 "[Request] Add a direction prop to set which way the picker opens"
This is a new feature request. If you position the Datetime control towards the bottom of the page, the picker will appear below it and off the page entirely, forcing the user to scroll before they can make a selection. I hope it would not be too much trouble to add a `direction` prop which could take `oneOf(['up', 'down', 'left', 'right'])` and position the picker in that direction relative to th

[2016-10-19 20:15] simeg commented on #171
Hi @MrLeebo. I've also had the specific problem you are mentioning, you can solve it using JS. Maybe even HTML using an anchor? But about your suggestion, I think the idea is good. If you'd like to create the code I'd be happy to review the PR.

[2016-10-20 14:30] MrLeebo commented on #171
I created the issue because I don't think I have time to learn the repo and implement this right now, but if that changes I will open up a PR.

[2016-10-21 11:57] phuhl commented on #18
I have seen time-pickers that works like this:
![unbenannt](https://cloud.githubusercontent.com/assets/16835755/19597635/06d212fe-9796-11e6-9f4c-face532d30de.PNG)

You would not have the problem with illegal ranges becaus you can scroll over them.

Never the less i'd love to see a `isValidTime`- Funktion for determining a valid start-time for the picker as @tunessofia explained.

[2016-10-25 08:28] greenais commented on #169
Thank you for the help - the issue was related to the mess with Webpack, sorted out.
Sorry for disturbing(
Datetime works great, awesome work, thank you!
Closed.

[2016-10-25 08:28] #169 closed

[2016-10-25 11:50] nitish24p opened #173 "Input time not updating for controlled component"
When i pass in the value as a prop in the date time picker the value doesnt change, in fact when i click on a date time value im not able to do select any value.

[code]

[code]

[2016-10-26 13:54] ivag opened #174 "onBlur event triggers only when choosing values from the calendar"
Hello,

I'm using react-datetime@2.6.0 and i have question about onBlur event:
1) I select a date from the calendar, e.g. 2016-10-10
2)  Then i change the value to 2016-10-1 which is invalid date and i'm using onBlur event because i want to revert it to the old value: 2016-10-10.
But onBlur() triggers only when i choose dates from the calendar, not when i leave the focus of the input field. Is the

[2016-10-26 16:19] vsamiev commented on #140
@simeg i see bump version in repo, when do you plan to publish this update to npm ?

[2016-10-26 18:42] GilmarLira opened #175 "isValidDate should apply months and years views"
Hello,

We are migrating from our old date picker, to this, fancy, React one. I just implemented the `isValidDate` prop successfully, and although working great on the Days view, it leaves both Months and Years unattended.

Insights on your future additions, or suggestions as how I could implement this functionality, would be appreciated.

Desired outcome:
![screen shot 2016-10-26 at 11 30 51 am](

[2016-10-26 21:34] simeg commented on #140
@vsamiev I tried to bump it in commit 3fdcb759237f2ed168b694bb46bdbb7d0d7620a8, I thought I could just bump the version in `package.json` and npm would magically find out about it. Turns out I was wrong 😝 I've contacted @arqex about it, he knows what to do! Just wait a bit more. Thanks.

[2016-10-27 07:56] arqex commented on #140
Sorry for the delay. New version published ;)

[2016-10-27 08:31] vsamiev commented on #140
@arqex
just updated, there are missing files in package   :'(
/node_modules/react-datetime/css/react-datetime.css
/node_modules/react-datetime/src/DaysView.js
/node_modules/react-datetime/src/MonthsView.js
/node_modules/react-datetime/src/YearsView.js
/node_modules/react-datetime/src/TimeView.js
/node_modules/react-datetime/src/onClickOutside.js

[2016-10-27 08:51] MilosRasic opened #176 "CSS file not included in 2.6.1 npm package"
See title.

2.6.0: http://i.imgur.com/GGp4emK.png

2.6.1: http://i.imgur.com/SW7aL83.png

You broke the Internet.

[2016-10-27 08:58] LKay commented on #176
Looks like the package was incorrectly published to npm and the compiled files were not included.

[2016-10-27 09:24] mattiasnordqvist opened #177 "Where did the typings file go in 2.6.1?"

[2016-10-27 09:25] simeg commented on #176
This is most likely because of 75c558e8e1d659e134e85aadd3f818bebd5ae12c. I will publish a possible fix, bump the version and ask @arqex to bump the npm version again. Sorry for the inconvenience.

[2016-10-27 09:27] J-F-Liu opened #178 "Build error in 2.6.1 with webpack"
Several error messages like the following, 2.6.0 doesn't have this issue.
[code]

[2016-10-27 09:48] simeg commented on #177
See #176.

[2016-10-27 09:48] #177 closed

[2016-10-27 09:48] simeg commented on #178
See #176.

[2016-10-27 09:48] #178 closed

[2016-10-27 10:36] simeg commented on #140
@vsamiev see #176.

[2016-10-27 11:19] simeg commented on #176
@MilosRasic @LKay @mattiasnordqvist @J-F-Liu @vsamiev can you update to 2.6.2 and see if it works? It seems to work for me.

[2016-10-27 11:31] vsamiev commented on #176
i confirm that it works 👍

[2016-10-28 01:27] J-F-Liu commented on #176
confirmed, thanks.

[2016-10-28 11:08] mattiasnordqvist commented on #176
typings are rollin' again :ok_hand:

[2016-10-29 19:10] #176 closed

[2016-11-02 10:17] alveflo opened #179 "Disable ability to choose date?"
I was wondering if there is any way to disable the ability from the user to choose date - i.e. choose _time only_. I know there is the `viewMode="time"` option, however the user can still choose date.

Is it any way to achieve this using "out of the box"-functionality, or do I need to write a custom renderer?

[2016-11-02 10:57] alveflo commented on #179
Oh wait, `dateFormat={false}` does the tricks. Sorry bout that 😄

[2016-11-02 10:57] #179 closed

[2016-11-04 15:08] AaronAsAChimp opened #181 "Typings not compatible with Typescript 2.0"
The typings for React have changed with Typescript 2.0. They are now installed through the NPM package '@types/react'. This causes a compilation failure, shown below, because there is no longer a  `__React` namespace.

New typings:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/types-2.0/react/index.d.ts

Error:
[code]

[2016-11-08 21:07] simeg commented on #173
Hi @nitish24p, sorry for the late response.

By looking at your code I don't see you setting `campaignDetails` anywhere, but that is the variable you're using as a `value`.

It's hard to know what might be causing this problem, if you could reproduce it using codepen for example, it would be a lot easier for me to help you. Here's a codepen project you can fork which already has the component adde

[2016-11-08 21:43] simeg commented on #174
Hi @ivag.

When you say "when i leave the focus of the input field", do you mean that you use the TAB key to move away from the input field? Or how do you switch focus?

[2016-11-08 21:52] ivag commented on #174
I meant 'leave the focus' by clicking outside the input file(date field) or
selecting another field. I'm not using TAB.

On Nov 8, 2016 10:43 PM, "Simon Egersand" <notifications@github.com> wrote:

that you use the TAB key to move away from the input field? Or how do you
switch focus?

[2016-11-08 21:56] simeg commented on #174
I'll look into this, it sounds weird. Thanks.

[2016-11-08 22:07] ivag commented on #174
The thing is that, i want to implement a validation in case the user enters invalid date manually (typing the date). Tell me if you need more details in order to reproduce it. Thanks.

[2016-11-08 22:34] simeg commented on #174
I'm unable to reproduce this using 2.6.0. As you can see here on [line 334](https://github.com/YouCanBookMe/react-datetime/blob/master/DateTime.js#L334) the `onBlur` method is called on `handleClickOutside`. It would help if you could reproduce your exact environment in codepen ([here's a project which you can fork](http://codepen.io/simeg/pen/mEmQmP)).

[2016-11-09 01:25] hnandarusdy commented on #47
This will be an awesome feature, anybody can share this component ?

[2016-11-09 10:44] damianprzygodzki opened #183 "onFocus and onBlur are acting weird"
I have tried to control picker by myself, because i had to add third way to open/close the calendar.

So i've followed the docs and connected prop "open" to my state, onFocus was setting the prop open:true, but calendar didn't appear.

The same with onBlur, when i tried change value open onBlur, there is no change.

EDIT:

After 5h of looking for proper way to control open prop i have found the wo

[2016-11-09 11:21] damianprzygodzki commented on #183
After 5h of looking for proper way to control open prop i have found the workaround.

[code]

[2016-11-09 17:31] danosborne commented on #171
+1

Will also try to spin up a PR...

[2016-11-09 18:45] simeg commented on #171
A tip: use react-date-playground for development (check the README).

[2016-11-10 09:34] danosborne commented on #171
Hacked for 5 mins and opened the PR above. Are people happy with the approach?

If so I will tidy it up and actually follow the contributing guidelines etc. ;-)

[2016-11-10 14:31] hazboun commented on #183
facing the same. Noticed that onBlur doesn't fire at all!

[2016-11-10 14:50] hazboun commented on #183
onBlur and onFocus must be passed within inputProps like this:

return (<Datetime
            className={open && "rdtOpen"}
            inputProps:{
                onFocus: this.handleFocus,
                onBlur: this.handleClose
             }
            renderDay={this.renderDay}
            {...this.props}
        />)

[2016-11-10 15:35] damianprzygodzki commented on #183
So i believe it is a issue of documentation, right? OnFocus&OnBlur are with inputProps on the same level in table describing properties.

[2016-11-10 22:55] zcrunkleton commented on #173
I'm seeing similar issue; date works, but time fails to update from the graphic ui with a controlled component.
Is there an example of the time working with a controlled input?

[2016-11-11 09:36] Symbiatch opened #185 "dist files have extra weight due to source maps"
The files in the dist folder have loads of extra weight. With 15k of code you get 78k in "normal" and 91k in "minified." Quite suboptimal. Looks like the source mapping is put into the files and that makes them very big. Might be worth it to change settings so the files could be used as-is without causing a huge overhead to load.

[2016-11-15 06:24] Mater opened #186 "Calendar is hidden partially"
Calendar is hidden by parent block with `overflow: hidden`.
It would be good, add option for rendering calendar into body and avoid with bug.

![calendar](https://cloud.githubusercontent.com/assets/2041154/20295308/381eaa38-ab15-11e6-9706-ff88f53f3763.png)

[2016-11-15 10:10] simeg commented on #186
Hi @Mater.

I don't understand what you mean by "rendering calendar into body". Why can't you just use CSS to put the calendar above the `div`?

[2016-11-15 10:18] simeg commented on #183
@damianprzygodzki I'll do some investigation tonight when I get home about this. Sounds fishy. It should definitely specify in the docs if this is how it works.

@hazboun thanks a lot!

[2016-11-15 10:19] simeg commented on #185
@Symbiatch thanks for bringing this up. I'll look into this as soon as I can.

[2016-11-15 10:37] simeg commented on #175
Hi @GilmarLira.

This is a good idea and we've been talking about including it in the V3 which we will begin working on soon. If you want to you can create a PR for this and I'll review it, otherwise I'll ask you to wait for V3 :) Thanks.

[2016-11-15 11:11] #156 closed

[2016-11-15 14:16] Mater commented on #186
render calendar to end of  HTML body tag. This render required for placing calendar outside of div with CSS `overflow: hidden`, it fixes this bug. I think CSS doesn't help here.

example of case http://codepen.io/Mater/pen/bBeZeM

[2016-11-15 16:21] simeg commented on #186
I did a quick Google for `parent overflow hidden child visible` and found [this SO post](http://stackoverflow.com/questions/3387489/make-child-visible-outside-an-overflowhidden-parent). Could it be of any help? To apply the `clearfix` class instead of using `overflow: hidden`.

[2016-11-15 20:48] simeg commented on #74
I'm closing this as this could be achieved by what we're discussing in #153. So continue any further discussions there. Thanks.

[2016-11-15 20:48] #74 closed

[2016-11-15 20:53] simeg commented on #155
Closing this as there hasn't been any activity for over a month. Re-open if you're still having issues. Thanks.

[2016-11-15 20:53] #155 closed

[2016-11-15 22:00] #166 closed

[2016-11-15 22:25] #129 closed

[2016-11-15 23:35] simeg commented on #175
Hey, it turns out there was a PR fixing this that was not merged. I merged it and bumped the version, so when the creator of this package (who has access to the npm repo) publishes it to npm then you can download it it. It shouldn't take more than a day or two for him to do that.

I'll close this for now and if you're still having problems with 2.7.0 feel free to open it.

[2016-11-15 23:35] #175 closed

[2016-11-15 23:36] simeg commented on #129
Hey, it turns out there was a PR fixing this that was not merged. I merged it and bumped the version, so when the creator of this package (who has access to the npm repo) publishes it to npm then you can download it it. It shouldn't take more than a day or two for him to do that.

I'll close this for now and if you're still having problems with 2.7.0 feel free to open it.

[2016-11-15 23:37] simeg commented on #185
I fixed this (by reverting the commit adding the source-map file, it was messing up the build pipeline somehow), so when the creator of this package (who has access to the npm repo) publishes it to npm then you can download it it. It shouldn't take more than a day or two for him to do that.

I'll close this for now but if you experience anything wrong with 2.7.0 feel free to open it.

[2016-11-15 23:37] #185 closed

[2016-11-16 00:18] GilmarLira commented on #175
Fantastic! Thanks!

[2016-11-16 12:02] damianprzygodzki commented on #183
@simeg thanks for that.

Some new clues found after lot of investigation.

`onBlur` is working (outside the inputProps) but there is no `date` parameter described in doc. `onBlur` and `onFocus` in the inputProps do not return the `date` described in doc.

[2016-11-16 14:09] Mater commented on #186
I have updated codepen http://codepen.io/Mater/pen/bBeZeM
I have to use datepicker in content with scroll, and clearfix doesn't help.
Clearfix makes div bigger to fit content, it doesn't add any scroll.
Need parent div with fixed height and scrolls.

[2016-11-16 17:25] leth commented on #181
It might be enough just to change `__React` to `React`, can anyone confirm?

[2016-11-16 17:40] AaronAsAChimp commented on #181
I think you can just get rid of the whole import statement.

[2016-11-16 19:49] simeg commented on #181
I don't work with TypeScript so if someone with more experience than me (and an environment to actually test it in) could take a look at this I'd would be grateful. Thanks.

[2016-11-16 20:31] #162 closed

[2016-11-16 20:39] simeg commented on #183
@damianprzygodzki does merging #164 affect this issue you are having? Besides the documentation potentially being wrong (I'll have to investigate on that).

[2016-11-16 22:48] simeg commented on #112
Hi @missmellyg85. If you haven't already solved this a potential quick fix could be to update the `react-onclickoutside` dependency locally in your `package.json` and then try. First try `4.9.0` and if that doesn't work you can try the latest `^5.7.2`. Just an idea.

[2016-11-16 23:31] AaronAsAChimp commented on #181
I can submit a pull request with the typings I'm using, If you would find that helpful.

[2016-11-17 08:27] damianprzygodzki commented on #183
@simeg yeah, now it is working stable and (watch out!) properly with documentation! So i think what @hazboun said is true - but completely different case - these are native input events.

[2016-11-17 08:27] #183 closed

[2016-11-17 10:23] leth commented on #181
Perhaps we could also add a typescript example and make it part of the travis build? That would probably help @simeg in the long run.

[2016-11-17 13:13] fruitl00p commented on #119
@arqex after alot of hairpulling a possible fix might be always falling back to the `moment.monthsShort()`-method of moment itself.

[2016-11-17 22:29] simeg opened #192 "isValidDate is hiding current month and year"
1) [Look at this demo](http://codepen.io/simeg/pen/XNNYJg)
2) Notice the current month (November right now)
3) Notice the current year (2016 right now)
4) Click "November 2016" to go to month view
5) November is a disabled option **<- BUG**
6) Click "2016" to go to year view
7) 2016 is a disabled option **<- BUG**

As the functionality of actually validating months and year was introduced pretty r

[2016-11-17 22:40] simeg commented on #119
@pruik @fruitl00p this is fixed in version 2.7.2 which I just released.

[2016-11-17 22:40] #119 closed

[2016-11-17 23:02] levity opened #194 "v2.7.2 broken on npm"
I'm getting a 404 error for v2.7.2 when I try to install it from npm.  I know you don't run the registries but I figured you'd want to know about this if you don't already.

[2016-11-17 23:27] simeg commented on #194
@levity thanks I'll take a look. I think I broke it..

[2016-11-17 23:52] simeg commented on #194
@levity is it working for you now? It's working for me locally and for Travis CI as well.

[2016-11-17 23:53] levity commented on #194
Yep, looks good here.

On Thu, Nov 17, 2016 at 3:52 PM Simon Egersand <notifications@github.com>
wrote:

[2016-11-17 23:54] #194 closed

[2016-11-18 03:36] StevenIseki opened #197 "Getting a 404 error with version v2.7.4"
Similar to [this](https://github.com/YouCanBookMe/react-datetime/issues/194) issue, but for the recently published version 2.7.4.

[2016-11-18 04:37] vipinlahoti commented on #197
Same error for me too:
CLI>
npm ERR! fetch failed https://registry.npmjs.org/react-datetime/-/react-datetime-2.7.4.tgz
npm ERR! fetch failed https://registry.npmjs.org/react-datetime/-/react-datetime-2.7.4.tgz
npm ERR! fetch failed https://registry.npmjs.org/react-datetime/-/react-datetime-2.7.4.tgz
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Users\\vipinl\\AppData\\Local\\.meteor\\packages\

[2016-11-18 06:25] StevenIseki commented on #197
If you want a temporary fix, just use `2.7.2` for the time being.

[2016-11-18 06:31] eigenmannmartin commented on #197
`2.7.3` does work for me.

[2016-11-18 08:04] Toxblh commented on #197
I have this problem too...

[2016-11-18 09:39] arqex commented on #197
Hey guys, that's weird, it seems that something failed in the deployment to npm. I have just bumped the version and publish the package again.

[2016-11-18 10:00] arqex commented on #197
https://registry.npmjs.org/react-datetime/-/react-datetime-2.7.5.tgz

Is working for me, but guess what..

https://registry.npmjs.org/react-datetime/-/react-datetime-2.7.4.tgz

it's also working for me now ¬¬

Can you guys confirm?

[2016-11-18 10:16] vipinlahoti commented on #197
2.7.4 is working now.

[2016-11-18 10:30] Toxblh commented on #197
All good, thanks!

[2016-11-18 10:38] #197 closed

[2016-11-18 13:08] michelre commented on #192
Thanks for your feedback. I'll check this out this week end! :)

[2016-11-18 13:16] simeg commented on #197
Weird.. I didn't get any errors when publishing. I'm working through a VPN most of the time, next time I wont do that.

[2016-11-18 14:19] arqex commented on #197
I think it was a temporary npm's failure. I didn't do antything to fix 2.7.4 and it seems to work now.

[2016-11-18 21:40] simeg commented on #186
I see the problem you are having, and rendering it to body would solve the problem. But I don't want to do that, mainly because the of the [reasons that are mentioned here](https://medium.com/@dan_abramov/two-weird-tricks-that-fix-react-7cf9bbdef375#.8db9xo8d5). I put great weight of what Dan says, so I'm not really keen on implementing it.

But I want to find a different solution for this. One id

[2016-11-20 22:47] greenais opened #199 "Is there option to reduce timepicker width separately?"
While datepicker seems quite relevant to its days grid content, timepicker looks too wide with a lot of blank space around actual pickers.
To my understanding in `react-datetime.css` provided one width is set for both - datepicker and timepicker.
Is there any way to reduce timepicker width alone in order to make it more reasonable?

[2016-11-20 23:26] simeg commented on #199
Hi @greenais. What you are asking for is not supported out of the box right now. I am trying to think of ways you could do it without modifying the logic, but I can't think of anything right now, sorry.

[2016-11-23 19:45] alainesse commented on #174
If the open prop is true, the onBlur is not called on the inputs onBlur

[2016-11-23 19:46] simeg commented on #174
@alainesse are you using the latest version?

[2016-11-23 19:46] alainesse commented on #174
@simeg 2.7.5

[2016-11-23 19:49] alainesse commented on #174
http://codepen.io/anon/pen/Mbmdde

[2016-11-23 19:52] simeg commented on #174
Yes, I can see it. I'll look into it. I'm guessing this is the same bug @ivag is referring to.

[2016-11-23 20:21] simeg commented on #174
@alainesse in what way do you trigger the `onBlur` of the input element when the calendar is open? By focusing it and then pressing tab?

[2016-11-23 20:35] alainesse commented on #174
@simeg clicking outside the input box.

[2016-11-24 09:26] arqex commented on #174
I think some other devs already have the same confusion. react-datetime's `onBlur` event is not the input event. It was a bad decission to call it that way, a better name would have been `onClose` because only happens when the calendar closes.

If anybody needs the real `blur` event from the input, please use `inputProps`. You can bind any event handler that you need from the input element:

[code

[2016-11-24 09:37] simeg commented on #174
@arqex that makes sense, then we should update the README because now it says

This is a good candidate for v3, to change to `onClose` and maybe introduce `onBlur` for the input.

Closing this now. @ivag @alainesse use the solution posted above.

[2016-11-24 09:37] #174 closed

[2016-11-24 18:47] ohenrik opened #200 "Cannot set Label above input"
I can't figure out how to set the label for the input field. There is no prop for this and the label that DateField creates is empty. Is there something I'm missing?

Here is my Component in use:
[code]
Adding label={'something'} does not work :-/

However the code generated looks like this (removed stuff not relevant to the question):

[code]

As you can see there is an empty label there...

[2016-11-24 18:48] #200 closed

[2016-11-24 18:48] ohenrik commented on #200
**Faceplam** Forget it, was missing a property somewhere else...

[2016-11-25 13:34] louisotto opened #201 "Reset value"
Hi,

I'm currently using a <Datetime/> component inside a html form element with classname `addItem`, once the form has submitted I process it and then run `this.refs.addItem.reset();` which correctly resets all form elements except the Datetime one, do you have an idea how to reset it alongside the rest of the form elements?

[2016-11-25 14:00] simeg commented on #201
Hi @louisotto.

I do not know off the top of my head, but one idea is to look through other issues mentioning `refs`. Here's a link: https://github.com/YouCanBookMe/react-datetime/issues?utf8=%E2%9C%93&q=is%3Aissue%20refs

Please let me know how it goes.

[2016-11-25 15:37] louisotto commented on #201
Couldn't tackle it directly, but here's my workaround in case anyone else asks or you wish to document its method:

Form submits and two events fire:
1) this.form.reset();
2) state items populated by form inputs are cleared.

So we add the following props to Datetime:

value={this.state.date}
onChange={(data) => this.setState({date: Datetime.moment(data).format("DD/MM/YY")})}

That way when the fo

[2016-11-25 15:57] simeg commented on #201
I'm glad you were able to solve it, and thanks for posting your solution.

[2016-11-25 15:57] #201 closed

[2016-11-26 02:01] layneanderson opened #202 "View Not Updating when viewMode Changed"
I've tried multiple methods but I can't get the react-datetime to change the viewMode once it's initially rendered.  I have the following:

`<Datetime value={this.state.starttime} dateFormat="YYYY-MM-DD" timeFormat="HH:mm" viewMode={this.state.vmode} locale={theLocale} closeOnSelect={true} isValidDate={validDates} onChange={this.handleStartTimeChange} />`

I've got a handler on another component t

[2016-11-29 12:10] illogicz opened #203 "Changing utc prop does not update until next render."
I think it's using the utc option from the previous update. Now I'm forced to call forceUpdate when I change the utc prop.

[2016-11-30 04:47] tuanna1601 opened #204 "Timepicker not showing the value passed to Datetime component"
Hi everyone,

I passed the time value, for example `value={this.props.time}` into the `<Datetime/>` component with prop `dateFormat={false}`, but when I clicked into the input box to choose another time, the timepicker always shows 12:00 AM. Since I'm using Redux and it re-renders the component everytime I maked a change to the state tree through `onChange` function so I always stuck at 12:00 AM.

[2016-11-30 06:45] tuanna1601 commented on #204
I've found out the problem, I was passing the time in wrong format (the time was in "hh:mm" format), but I set `timeFormat="hh:mm A"` that's why `<Datetime/>` couldn't display it properly.

[2016-11-30 06:45] #204 closed

[2016-11-30 15:59] BrandonBoone opened #205 "[Request] Wrap existing input controls"
I would like to propose an enhancement that allows react-datetime's functionality to be added to **existing** input controls.

For Example, if I wanted to merge the functionality of [react-input-mask](https://github.com/sanniassin/react-input-mask) with react-datetime I would imagine the following syntax.

*Note: Everything below is pseudo code*

[code]

Another benefit is that you would, potentia

[2016-12-01 16:46] brsanthu opened #208 "In Controlled mode, dialog closes early just after one click of up or down arrow in time picking"
We are using this component as controlled component because we want to use Semantic UI as Input box and open this component as controlled component.

In this mode, date picking works as expected. Clicking on date closes the dialog. Clicking on Month or Year doesn't close.

However, going to pick time, moment I click single up or down arrow of hour, minute or second, it fires the onChange event, ef

[2016-12-02 16:38] grushetsky commented on #181
@AaronAsAChimp, could you share or submit your typings, please?

[2016-12-02 22:43] solomon23 commented on #174
Running into a similar issue that @arqex's solution doesn't fix.  I want to show a link.  When the link is clicked I want to show the input with the calendar open.  So i set the prop `open={true}` and add the calendar to the dom.  But when clicking outside the calendar I want to grab it's value, close it and hide it.  with `open={true}` the blur event never fires ( which now makes sense ) but I'd

[2016-12-03 12:22] PashaKoval opened #210 "Pass an event instance to onChange handler."
I have a problem in case when I need additional arguments(attributes) from input field, not only date.
I propose pass an event instance to onChange handler. It will look like
[code]
Maybe there's another ability to get attributes from input?

[2016-12-04 11:15] greenais commented on #46
Probably should be added to the docs

[2016-12-05 06:30] foodaka opened #211 "Doesnt set defaultValue correct"
When I am using redux to set the default value, i want to use the value from data from the server. I will give it a `moment().format()` as initial state. However, when the data returns from server, it does not update the new value. If i give it a value it works, but then i cannot change the time.

[code]

[2016-12-05 07:03] foodaka commented on #211
im also using immutable js, i dont think thats an issue

[2016-12-05 07:25] foodaka commented on #204
can u show more code, im having the same issue

[2016-12-06 10:04] simeg commented on #46
@ir-fuel nice to see you found the solution!

@greenais it's actually in the documentation, but I agree that it could be highlighted a bit more:

[2016-12-07 09:54] simeg commented on #211
Hi @foodaka. It sounds like the server is returning something the component can't handle. As being specified in the API the acceptable formats are a `Date` object or a `moment` object.

What is the server returning?

[2016-12-07 17:00] simeg commented on #205
Hi @BrandonBoone. Thanks for your suggestion!

We are adding support for this in V3, you can see more about the probable implementation details here: #153

Great suggestion, it will indeed make things easier for people.

[2016-12-07 17:00] #205 closed

[2016-12-07 17:13] simeg commented on #208
Hey @brsanthu. I do not think having an OK button is a feasible solution, most people use it like it works now and it would just add another click to the component.

I do think we could think about triggering the `onChange` for _every_ change.. maybe have an option for this behaviour? Like `triggerOnChangeForEachTimeStep` (horrible name - I know - but you get what I am after). Thoughts?

[2016-12-07 17:17] simeg commented on #210
@PashaKoval You can use the `inputProps` to use the attributes for the input field.

`<datetime inputProps={{onChange: ev => console.log('Do whatever', ev) }} />`

Does this solve your problem?

[2016-12-07 22:24] robinspark opened #213 "IE with SVGs - contains is not a function of undefined"
When searching up the hierarchy for parent classes, if the isSourceFound() fn hits an SVG element in IE, it causes an error. contains is not a function of undefined. This is because IE does not support classList on SVG elements.

eg. classList.contains(...)

File:
/node_modules/react-datetime/src/onClickOutside.js

[code]

BTW, does anyone know the best way to patch this locally in a webkit enviro

[2016-12-08 21:34] brsanthu commented on #208
@simeg I think having that option `triggerOnChangeForEachTimeStep` (defaulted to true) is nice approach so behavior stays same for current users. But if we want to control that, we could pass it as false and so onChange is fired only when date is clicked. So user will have to click date to fire onChange in this mode.

[2016-12-13 10:43] PeterKottas commented on #181
Hi guys, nice work on this issue, I gave it a go and it fixes the problem for us as well. I was just wondering if you know when this is going out. I have a guy waiting for PR because of the typings bug and not sure if I should just merge it in and create an override for the module somehow or wait if the release is only couple days away. Any info much appreciated, thanks :)

[2016-12-13 14:01] raapperez opened #214 "Is there a way o pick a period?"
I need a component that allows to pick a start date and a end date for a time period.

I didn't see anything in docs about this...

[2016-12-14 01:45] vning93 commented on #208
+1

[2016-12-14 10:52] PashaKoval commented on #210
@simeg , yes, I've solved my problem with help of your tip. Thanks a lot.

[2016-12-14 10:52] #210 closed

[2016-12-15 08:04] PeterKottas commented on #181
Ok fixing it myself in the meantime :) Please let me know when you release this one. Thanks ;)

[2016-12-15 08:33] vissermc opened #215 "react-datetime.d.ts cannot find namespace __react"
Typescript compilation error on:

import React = __React;

 error TS2503: Cannot find namespace '__React'.

[2016-12-15 10:33] PeterKottas commented on #215
Duplicate of #181 It seems the guys here already have a solution and I am desperately waiting to get a new release for it.  Funny thing is I can't actually fix it myself. Adding exclude "node_modules/react-datetime/react-datetime.d.ts" to tsconfig.json doesn't work as it's strictly mentioned in the npm package.json. I haven't yet found a way to exclude it that way and provide my own instead.

[2016-12-15 14:55] vissermc commented on #215
I just removed that line and made my own fork and updated my package.json to

"react-datetime": "https://github.com/vissermc/react-datetime.git#512bf6f7c3f664b8268de9b3d68e4671feda903c",

[2016-12-15 18:57] ncphillips commented on #181
I am also awaiting this release!

[2016-12-15 23:05] francischew opened #217 "Can we have an attribute to reset viewMode when reopening datetime modal"
Can we have an attribute to reset viewMode when reopening datetime modal?

Scenario:
1) used viewMode="years" for react-datetime component
2) select a date/time on react-datetime modal
    - datetime modal opens up with "years" as the default view
    - once date/time selected, modal closes
3) reopen the modal again
   - datetime modal opens up to where it left off - on selecting the time even tho

[2016-12-16 01:10] layneanderson commented on #217
I know this would be an unwanted feature/change for me.  It is possible to do though.  The code change to do it is in my first commit in my Pull request #206.  (commit 3e69e4ef5275dc3616f5ff6c838a3b7d02a98f8d)).  This what I had to correct to make the PR compliant with normal functioning of this component.

[2016-12-16 05:37] PeterKottas commented on #181
Hi @ncphillips I suggest looking at #215, vissermc's answer, going to implement it myself at the moment as a temp fix.

[2016-12-16 14:37] ncphillips commented on #215
I have another alternative. I copied the React typings, renamed the variables to `__React`, and added them to our custom typings. It doesn't conflict with the actual `react` typings, but it fixes this issue.

Example:

[code]

[2016-12-16 14:47] Extra-lightwill opened #218 "Custom style form input."
How do you adjust the styling of the input (e.g. the blue border) and replace with your own styles?

Seems like an silly question, but I can't figure out how to change this..

[2016-12-18 16:51] thientran1707 opened #219 "Access value of input field"
How can I set the value of input field manually? since sometimes if the value is not valid, i would like to reset it to previous valid one

[2016-12-20 17:15] martinvondracek opened #220 "timeFormat not applied"
when I put custom time format, the format is applied in input field but is not applied in timepicker dropdown

`<Datetime dateFormat={false} timeFormat={'hh:mm a'} viewMode={'time'} />`

demo [here ](http://codepen.io/anon/pen/Mbxpad)

![timepicker](https://cloud.githubusercontent.com/assets/12466820/21360449/cbff3b4c-c694-11e6-9d24-449bdb5129d8.png)

[2016-12-20 19:42] kevinguard commented on #132
@vizFlux I am trying the same thing as you and am wondering if you managed to convert all CSS styles in `react-datetime.css`? Since they are too many of those, making the JSON looking style to be given to `StyleSheet` of `aphrodite` is painfully slow. I wonder if you have something decently working and are able to share? Thank you!

[2016-12-20 19:52] simeg commented on #214
Hey @raapperez, yes there is support for this if I understand you correctly. Please see [this section of the readme](https://github.com/YouCanBookMe/react-datetime#selectable-dates). Thanks.

[2016-12-20 19:52] #214 closed

[2016-12-20 19:57] simeg commented on #220
Hi @martinvondracek. If you change the `timeFormat` string to `'hh:mm A'` - does it solve your issue?

[2016-12-20 19:58] simeg commented on #219
Hi @thientran1707. You can use the `value` prop to manually set the value of the component. Hope it solves your issue. [Here's more information about the API](https://github.com/YouCanBookMe/react-datetime#api).

[2016-12-20 20:01] simeg commented on #218
Hi @Extra-lightwill.

There's multiple ways to do this, the most straight forward would be to not use any of the CSS that comes with this component. Or you can [specify your own CSS rules with higher specificity](https://css-tricks.com/specifics-on-css-specificity/) to overrule the CSS provided with this component.

Let me know if you need more information. Thanks.

[2016-12-20 20:11] simeg commented on #215
Hi @vissermc, @PeterKottas and @ncphillips.

The PR handling this issue has been merged and version 2.8.0 just got released. Hopefully it will resolve your problems, thanks.

[2016-12-20 20:11] #215 closed

[2016-12-20 20:12] simeg commented on #181
Closing this as #190 was merged and version 2.8.0 was just released.

[2016-12-20 20:12] #181 closed

[2016-12-20 21:04] martinvondracek commented on #220
Hi @simeg, yes it works with 'hh:mm A' but unfortunately I need with small 'a' - 'h:mm a'

[2016-12-20 22:44] simeg commented on #220
This seems to be a bug, looking into it.

[2016-12-21 00:07] simeg commented on #220
@martinvondracek this has now been fixed with the following commit: https://github.com/YouCanBookMe/react-datetime/commit/cf1e721e0d7c69b5ce55978c213ef463ab477ebc

The bug fix is published in version 2.8.1. Thanks.

[2016-12-21 00:07] #220 closed

[2016-12-21 03:41] kevinguard commented on #132
@ryanhca How can I pass all CSS styles specified in the CSS Style sheet in this repo one-shot to Datetime component using `aphrodite`. It looks to me a nightmare as I only wish to have something out-of-box which looks similar to the demo. Thanks.

[2016-12-21 13:49] vizFlux commented on #132
@kevinguard I am currently still using the method I mentioned above for each of the class. I wouldn't say it is decent. Quite a dirty hack if you ask me, but as far as time is concerned, I can't complain much.

[code]

Been waiting for a better workaround.

[2016-12-21 16:04] olegreznichenko opened #223 "Default value"
Hello! When adding value and then edit date in input, date not update
[example](http://codepen.io/Nonlimit/pen/BQbgqZ)

[2016-12-21 22:01] simeg commented on #223
Hi @olegreznichenko. If you want to use a placeholder for the form you can use the `inputProps` prop like this:

`<datetime inputProps={{ placeholder: 'This is the placeholder' }} />`

Hope this solves your problem.

[2016-12-22 09:11] olegreznichenko commented on #223
My problem solved prop `defaultValue`. thx for quick feedback :)

[2016-12-22 10:02] #223 closed

[2016-12-22 18:14] martinvondracek opened #224 "Datepicker closes after re-rendering component"
only if you set property closeOnSelect={true}

1. click into input field to open datepicker
2. after re-rendering view caused by e.g. setState datepicker closes
3. you have to click somewhere outside of input field first to re-open datepicker

[demo](http://codepen.io/anon/pen/XNQqPb)

[2016-12-23 01:05] kevinguard commented on #132
@vizFlux Appreciate your help. Do you mind I take this conversation offline and I ask you few more questions via email or so? My intention is not to make too much noise here by my naive questions (I am terribly bad with CSS). Please kindly let me know.

[2016-12-23 10:13] PeterKottas commented on #215
Perfect @simeg will update now. Thanks!

[2016-12-24 19:43] #218 closed

[2016-12-26 21:20] Mistra commented on #224
Happens to me aswell.

Confirming

[2016-12-27 16:23] finetimi opened #225 "Render only DatePicker or TimePicker"
I think there should be an option to display only a TimePicker on the input field without the Date option above for "input type=time' "  elements.
And vice versa for "input type="date" elements

[2016-12-27 16:36] #225 closed

[2016-12-27 19:47] simeg commented on #225
Hi @finetimi. I'm guessing you found the `viewMode` prop :) I'm just posting it here if someone else wants to know in the future.

[2016-12-28 17:13] halis opened #226 "Is it possible to open the datetime picker from an Icon"
I want to have a calendar icon and when I click on it I want to show the datetime picker.
Then I can plug into onChange and use the value as needed.

I tried setting `input: false` and `open: false`
The idea being that I could use Redux to drive the open field which would show/hide the datetime picker.

But after a cursory test, this does not seem to be the current behavior. When I update `open` t

[2016-12-28 17:19] halis commented on #226
I can definitely get it to open with a janky jQuery hack but if I do that then I will probably have to do another hack to get the close to work properly (like if you click anywhere else) and I don't know if I'll be able to look at myself in the mirror if I do that.

[2016-12-29 12:25] stonecold123 commented on #215
I don't see any change in the d.ts file in 2.8.1.

[2016-12-29 19:34] simeg commented on #215
@PeterKottas did you manage to get this working? I don't have a TS environment set up so I'm not sure how to troubleshoot this..

@stonecold123 the `index.d.ts` file is located in the `typings` folder, are you looking there?

[2016-12-30 05:23] vizFlux commented on #132
@kevinguard  I don't mind. You can reach me through viz.flux@gmail.com

[2016-12-31 08:09] PeterKottas commented on #181
Hi @simeg this still appears to be a problem in the recent release. Seems like you might have forgotten to merge. Typings are still wrong. Take a look at https://github.com/vissermc/react-datetime.git#512bf6f7c3f664b8268de9b3d68e4671feda903c which is working for me. You just need to comment out the line with react basically.

[2016-12-31 08:09] PeterKottas commented on #215
Hi @simeg this still appears to be a problem in the recent release. Seems like you might have forgotten to merge. Typings are still wrong. Take a look at https://github.com/vissermc/react-datetime.git#512bf6f7c3f664b8268de9b3d68e4671feda903c which is working for me. You just need to comment out the line with react basically.

[2017-01-01 23:06] simeg commented on #226
Hi @halis,

Two things:
1) The current `open` prop is not working as it should, so if I were you I'd just not use it right now.
2) See #153, there's a suggestion (which will go into V3 of this component) that will probably resolve your issue

So up until then, maybe use your jQuery hack if you really need this functionality. Sorry for not being of any bigger help.

[2017-01-01 23:06] #226 closed

[2017-01-03 17:45] MindRave commented on #186
@Mater @simeg

One solution (that we think of implementing) is using `position:fixed` instead of `position: absolute`, to just take the calendar out of the flow entirely.

That's step one. Step 2 is to get the input's x and y position (on click for example) relative to your window and pass them as style props (adapted to your needs) to the calendar element. Then, proceed to position the calendar a

[2017-01-03 21:36] simeg commented on #186
@MindRave Not sure if I follow on the second part, but if you do implement the solution you are talking about please let know as it sounds interesting!

[2017-01-04 04:13] soulcm opened #233 "when viewMode is months, the date-picker always highlight the 12 month"
When set viewMode as months, whatever month I selected and open the date-picker again, the date-picker always highlight the 12 month.Below is screenshot.
![qq 20170104121216](https://cloud.githubusercontent.com/assets/5706155/21631516/11e853d0-d277-11e6-8512-1d508b913d78.png)
![qq 20170104121223](https://cloud.githubusercontent.com/assets/5706155/21631517/13025c16-d277-11e6-93fa-bdbf1619e9b7.png)

[2017-01-04 06:01] sverhagen opened #234 "Format of the input"
This is a question for now, not an issue (yet). Also, I'm new to React, so I might be overlooking something stupid, here.

I'm using the component as follows:

    <Datetime value={this.props.value} onChange={this.onChange} timeFormat="HH:mm" input={true}/>

I want to represent my dates across my application, internally, as strings in the `moment.format()` representation, i.e.: `"2017-01-18T00:00:

[2017-01-04 11:46] eruca opened #235 "the Datetime is show partly"
I write a Datetime  near the browser's right side,and I click the Datetime, I found the Datetime show partly,
the right part of the window is dispear

[2017-01-05 02:44] axelboc commented on #234
I'm currently working around this by disabling the built-in input and rendering my own hidden input next to the picker.

[2017-01-05 09:01] PardeepKumar87 opened #236 "renderInput feature is not working"
You have added a feature renderInput, using that a user can customize their input. but we are not getting this feature in our code. We are trying to update react-datetime library or we have tried by installed fresh one.

[2017-01-05 09:21] eliezedeck commented on #233
I **confirm** this bug. Same exact problem for me.

[2017-01-05 15:19] shank-eric opened #237 "Ability to dynamically change time constraints"
I have a form with Start and End Time fields and I'd like to ensure that the End Time is after the Start Time, even if the user updates the Start Time.  However, updating the `timeConstraints` during a re-render doesn't seem to change the constraints and doesn't allow me to dynamically adjust what the min hour should be.  This appears to be caused by the `timeConstraints` being configured only dur

[2017-01-05 18:15] AaronAsAChimp commented on #181
@PeterKottas Which version of TypeScript are you using? If you are using 2.0+ it should automatically detect the new typing and use them. If you've previously added a workaround you should remove it.

[2017-01-06 07:02] PeterKottas commented on #181
Hi @AaronAsAChimp, we use typescript 2.1. Looking at the code from release https://github.com/YouCanBookMe/react-datetime/releases/tag/v2.7.2 . In package.json there's
"types": "./react-datetime.d.ts",
Then in that file, you have
  import React = __React;
on line 8
That appears to be the problem.
I don't have a workaround, I am basically poitning straigh to  https://github.com/vissermc/react-datet

[2017-01-06 14:14] AaronAsAChimp commented on #181
@PeterKottas The fix was released in v2.8.0, try updating to the latest version and see if that fixes your issue.

[2017-01-06 15:46] Shenmin-Z opened #238 "Time picker does not update properly"
Bug:

When the input is changed from e.g. "01/26/2017 :00 PM" to "01/26/2017 1:00 PM", the time picker won't update from 'AM' to 'PM'.

[2017-01-06 15:47] PeterKottas commented on #181
Ok starting to make sense. There's no release 2.8.0 on github. The last one here is 2.7.2 which doesn't have the fix in it. I'll check out 2.8.0 via NPM tomorrow at work and will let you know.

[2017-01-06 15:49] simeg commented on #181
@PeterKottas Sorry that's my mistake, I incorrectly assumed everyone is using the package via npm. I'll publish a version right now.

[2017-01-06 15:55] PeterKottas commented on #181
No worries mate, I am pretty sure it will work now. It was just miscommunication.

[2017-01-06 16:08] simeg commented on #181
Version 2.8.2 is now live both on npm and as a release here on GitHub. If you have any problems regarding the TS stuff, report it in this issue. Thanks.

[2017-01-06 20:20] simeg commented on #215
@PeterKottas Could you please see if this bug still exists, now that you have the updated version? Thanks a lot.

[2017-01-06 20:23] simeg commented on #238
Hi @Shenmin-Z.

Your example doesn't really make sense, what is ` :00 PM`? [This example](http://codepen.io/simeg/pen/mEmQmP) is working. Could you provide a demo so I can see what props and values you are using?

[2017-01-06 21:49] simeg commented on #235
Hi @eruca.

I am not sure that I understand what your problem is, it would help a lot if you could provide a demo clearly showing the problem you are describing. A good starting point for a demo is forking this codepen: http://codepen.io/simeg/pen/mEmQmP

Thanks.

[2017-01-08 19:44] redbaron76 opened #241 "defaultValue doesn't affect time"
Isn't possible to set current time as the default time?
It always starts at 00:00.

[2017-01-08 19:46] #202 closed

[2017-01-08 22:43] simeg commented on #234
Hi @sverhagen.

Would this solution work for you?

[code]

[2017-01-08 22:45] simeg commented on #236
Hi @PardeepKumar87.

No, that prop has not been implemented yet. See the discussions here: #153.

[2017-01-08 22:45] #236 closed

[2017-01-08 22:46] simeg commented on #233
Hi @soulcm,

Yes, I just noticed this my self today actually. Been trying to hunt it down but couldn't find what's wrong, will continue looking when I have time.

[2017-01-08 22:52] simeg commented on #237
Hi @shank-eric.

Some of the props have those limitations, unfortunately. I generally like customization, but I wan't to know more of how you think. So the option you're referring to would be able to enable re-rendering when changing time in TimeView mode?

[2017-01-08 22:56] simeg commented on #241
Hi @redbaron76.

Yes, by setting `defaultValue` to a valid date value you can specify both the date and time. [Here's an example.](http://codepen.io/simeg/pen/vgNNzy)

[2017-01-08 22:56] #241 closed

[2017-01-08 23:07] axelboc commented on #234
Hmm the problem is that `dateFormat` and `timeFormat` are used to format both:
- the selected date/time displayed to the user and
- the `value` of the `input` element

The easiest solution I can think of would be to keep `dateFormat` and `timeFormat` for the displayed date/time, but add a new prop specifically for the input - e.g. `inputFormat="..."`. Since date and time are combined into the same

[2017-01-09 04:11] soulcm commented on #233
@simeg ok, thanks for your attention

[2017-01-09 08:33] redbaron76 commented on #241
Ok, thanks. But the question is: being `new Date()` the default datetime value, why doesn't it set the time too as it already does for the date?

[2017-01-09 11:17] sverhagen commented on #234
Yes, that seems to be what is necessary. There is a bit of a thing about the name, though: "input" makes it sound like it'll affect how people input the data, which I believe it isn't; it's just named after the `<input/>`. Anyway, it doesn't matter, and I would appreciate an update to this already-awesome component!

[2017-01-10 16:44] layneanderson opened #243 "Current Year Not Selectable in Year View"
With `validDate` set to not allow future dates if the user backs out to year view, 2017 is disabled and not selectable.

_Additional Info_
A user workaround is available by choosing 2016 and then using the arrow (>) to increment year to 2017.

[2017-01-10 20:10] simeg commented on #243
Thanks for notifying. It's probably a duplicate of this issue: https://github.com/YouCanBookMe/react-datetime/issues/192

[2017-01-10 20:10] #243 closed

[2017-01-10 20:16] simeg commented on #241
That sounds weird, how can you tell that it's not setting the time value? I mean how do you look at the default value without changing it?

[2017-01-11 16:29] tbayne opened #248 "With version 2.8.3 still getting "Cannot find namespace 'React', in index.d.ts"
An existing pull request exists that fixes the issue (for me):

As mentioned by others, simply adding:

   ` import React = __React`

Inside of:

[code]

Some additional information
[code]

### I'm Submitting a ...

[code]

[2017-01-11 18:32] Shenmin-Z commented on #238
![agent-date](https://cloud.githubusercontent.com/assets/7145268/21861204/d9f2da28-d801-11e6-95fa-eeb69ff5fedb.gif)

:00 PM doesn't make sense. But when it is changed to 1:00PM, it is a valid time and time picker should display as 1:00PM.

The example you provided displays the same behavior.

Thanks!

[2017-01-11 20:20] #192 closed

[2017-01-11 20:20] #199 closed

[2017-01-11 20:22] simeg commented on #217
@francischew Now that #206 is merged, can you solve your issue?

[2017-01-11 20:27] simeg commented on #238
Thanks for the demo, I see the problem now.

[2017-01-11 20:30] simeg commented on #248
Hi @tbayne. Is the PR you're referring to #231? It does not add anything though, just removes stuff.

[2017-01-11 21:28] tbayne commented on #248
Hey @simeg.  You are right, I misread that PR.  In my case adding the line that was removed by PR #231 fixed the issue:

// So it would be like this.

declare module 'react-datetime' {
  import React = __React;

 I will put together a PR in the morning for you to look at.

[2017-01-11 22:13] shank-eric commented on #237
@simeg, it would change the TimeView component to update the timeConstraints during componentWillReceiveProps in addition to componentDidMount such that if an updated timeConstraints is passed in, it will be honored.  Here's an initial pass at the change I made: https://github.com/EverFi/react-datetime/pull/1/files

[2017-01-12 01:21] layneanderson commented on #237
I ran into this myself in a very similar situation (start and end times).  I ended up handling the logic in a parent component of start and end react-datetime components, but the main reason that drove me that way was that I had other factors that would have made the timeConstraint method more complicated.

Having this feature would be useful though.

[2017-01-18 22:00] jpatel3 commented on #155
@simeg Sorry for not responding to this earlier. Here is the example code -

[code]

In above default value for `dateFormat` and `timeFormat` is true. The type is passed by the parent component. However, upon receiving different props.mode, it doesn't change the DateTime picker.

Let me know if any solution I can try out.

[2017-01-18 23:20] layneanderson commented on #155
Hi @jpatel3 ,

I think what you are trying to do is achieved by viewMode.  So instead of changing dateFormat or timeFormat you would change the viewMode prop to either 'days' or 'time'.

Incidentally it wouldn't have worked back in September, but has since been fixed.  (see issue #202)

Regards,

Layne

[2017-01-19 15:10] jpatel3 commented on #155
@layneanderson I'll try out. For now, I have tried adding a key to the component to make sure it does a hard refresh, and it works fine with that change. but will try out `viewMode`.

[2017-01-20 09:55] clairekh opened #250 "How re-render component on dynamically change locale parameter?"
Hi! I need some help. How I can re-render component  when my locale has changed dynamically?

I use `<Datetime locale={ locale } ref="date" />` in parents component, where I get locale from store (I use redux). So after change locale I need re-render child `Datetime` component. How can I do this?

[2017-01-20 15:33] layneanderson commented on #250
Hi @clairekh ,

There is currently an open issue on this.  See #126 . I _might_ look into fixing it next week.

Regards,

Layne

[2017-01-20 15:49] clairekh commented on #250
@layneanderson, thank you for help!

[2017-01-20 19:07] simeg commented on #250
Hey @clairekh. I'll close this and we can track this bug in #126 (Thanks @layneanderson!).

[2017-01-20 19:07] #250 closed

[2017-01-21 01:51] sceutre opened #251 "onBlur callback doesn't get called when value is null"
### I'm Submitting a ...

[code]

### Steps to Reproduce

1. Use <ReactDatetime /> with an onBlur callback and value = null and closeOnSelect = true
2. Click in and select a date
3. Calendar closes but onBlur does not get called
4. Clicking elsewhere on the page also does not invoke onBlur

### Expected Results

onBlur callback should have been called when calendar closed

### Actual Results

onBl

[2017-01-24 10:05] omidfi commented on #136
I couldn't find it in documentation quickly and ended up here, maybe it can be improved, I searched for "past" on the page.

[2017-01-24 21:07] byrondevonwall opened #252 "Ability to send alternate datetime format to server"
### I'm Submitting a ...

[code]

Once the user has selected a date/time, is it currently possible to display a more human readable selected date in the input while formatting the date differently to send to a server (i.e. in ISO 8601 format)?

[2017-01-25 13:33] byrondevonwall commented on #252
You do this with onChange and I am silly...

[2017-01-25 13:33] #252 closed

[2017-01-25 15:17] nicollehelgers opened #253 "Autofocus input field issue"
### I'm Submitting a ...

[code]

### Steps to Reproduce
1. Insert a new record (the record is a row of a datagrid with input/form fields)
2. The input field should automatically be in focus, when the record is opened, but it is not.

The issue is that this standard React feature is not working in the component, the user has to click on the input fields again to set the date.

### Expected Results

[2017-01-25 20:46] byrondevonwall commented on #253
Alternately, would it be possible to update `inputProps` to accept `ref` so that it can be targeted with `componentDidMount()` or `componentDidUpdate()` by passing `this.refs.yourinputref.focus()` to either?

[2017-01-26 13:41] nicollehelgers commented on #253
_Thanks, eventually this is working for me:_

inputProps={{
                            autoFocus:props.hasFocus
                        }}

hasFocus: React.PropTypes.bool

[2017-01-26 15:44] byrondevonwall commented on #253
Thanks!

I'm surprised that `inputProps` accepts `autoFocus` but not `ref`

[2017-01-30 00:33] sverhagen commented on #234
What I maybe didn't appreciate at the time of writing this issue is that the `input` really also allows entry of a date/time, and not just as a display, and a way to open the picker. My complex date/time format (`"dddd, MMM. Do YYYY, HH:mm (hh:mm a)"`) may be a bit too much for that anyway. So, I'm going back to `input={true}`, and that's that :wink:

[2017-01-30 15:39] layneanderson commented on #234
I'm not sure I'm following what you are really trying to do or what the issue is but ...

It seems to me that to display in the format you want you would just write
`<Datetime value={this.props.value} onChange={this.onChange} dateFormat="dddd, MMM. Do YYYY, HH:mm" timeFormat="HH:mm (hh:mm a)" />`

Then, since the internal value of DateTime is a MomentJS object, you get the value and format it the

[2017-01-30 21:48] AtomicAlienZ commented on #224
Datepicker closes if onFocus causes a re-render too, I suppose I'm facing the same issue.

Made a workaround by using Pure Render Mixin and wrapper component but it's not very convenient to use and doesn't help if wrapper component's props change when datepicker is open, but maybe this idea will help someone.

I'd be happy to see this bug fixed though.

[2017-01-30 22:17] axelboc commented on #234
Unfortunately, this way of getting the value is not always possible. Personally, I work with a legacy code base and have to rely on the browser's default form submission (at least for now), so it's crucial that the `input` is formatted the way the server expects it to be.

[2017-01-30 22:51] layneanderson commented on #234
Ahh, I understand now your using this as an [uncontrolled component](https://facebook.github.io/react/docs/forms.html#uncontrolled-components).  Sorry can't offer a suggestion, I've only mixed React components with non-React ones on the output side.

[2017-01-30 23:31] axelboc commented on #234
Well, I do control it in order to render my own input, as mentioned in my initial comment, but yes, you're right, if I could customise the format of the input, I wouldn't need to. However, I think this is more of a **progressive enhancement** rather than controlled/uncontrolled issue: it's always good practice to ensure that the front-end works without JS (assuming a server-side rendering set up,

[2017-02-01 17:52] abrad45 opened #255 "Allow Modification of Input className Property"
### I'm Submitting a ...

[code]

### Steps to Reproduce

N/A

### Expected Results

The developer should be able to customize the `className` of the input tag.

### Actual Results

Currently, you cannot customize the `className` attribute for the input, even though you can customize other attributes via the `inputProps` property.

Here's the line where you can see the `className` is hard coded to

[2017-02-02 00:18] martinvondracek commented on #224
@simeg guys when are you going to fix this issue? we need it to be fixed soon. thanks

[2017-02-02 09:30] simeg commented on #224
@martinvondracek Hey,

If this is something urgent for you I recommend you to create a PR for it. Otherwise I'll look at it when I have the time. Thanks.

[2017-02-02 16:00] mieryn opened #256 "Update documentation in dateFormat"
Sorry, no template for this is a small request only.

I didn't find a mention that leaving out days or month and days on the dateFormat makes the DateTimePicker a month picker or a year picker. Maybe it should be taken for granted but I ended up reading the code to figure this out. Thought I needed to implement it myself :)

[2017-02-03 09:40] mieryn commented on #173
I believe this happens when giving value as a moment object: http://codepen.io/mieryn/pen/rjvmpq

[2017-02-04 21:42] #163 closed

[2017-02-04 22:22] simeg commented on #136
@omidfi Hi,

The prop you are looking for is called `isValidDate`. Thanks for the feedback, I'll re-phrase the example part for `isValidDate` to include that word.

[2017-02-04 22:46] simeg commented on #251
Hi @sceutre, thanks for the detailed issue. I confirmed that this indeed is a bug. Great job investigating it, I will look into this when I find the time. Though it kinda looks like you have it worked out, so you are more than happy to submit a PR for the bug.

[2017-02-04 22:52] omidfi commented on #136
You are an amazing person :)

[2017-02-04 23:07] simeg commented on #253
@nicollehelgers Nice to see you found a solution, and thanks for posting the solution.

@byrondevonwall `inputProps` does not handle any provided keys differently, so it does accept `ref` - it accepts anything.

[2017-02-04 23:07] #253 closed

[2017-02-04 23:21] simeg commented on #255
Hi @abrad45.

Actually, you _can_ provide a custom `className` to the input element by using `inputProps`. [Here's a demo to prove it](http://codepen.io/simeg/pen/EZRgGw) (inspect the DOM to see it).

The reason why `form-control` is not used when `inputProps` contains a `className` property is because

(https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/assign)

[2017-02-04 23:21] #255 closed

[2017-02-04 23:26] simeg commented on #256
Hi @mieryn.

We have the `viewMode` prop with the following description in the README

Did you not find it or do you think this description is not clear enough? If it's unclear then I guess we have to update it :)

[2017-02-05 00:36] simeg commented on #224
@martinvondracek, @Mistra, @sunnysingh & @AtomicAlienZ:

This has been fixed in version 2.8.4.

[2017-02-05 10:40] jonsvez opened #259 "Timepicker stops registering clicks on mobile device"
### I'm Submitting a ...

[code]

### Steps to Reproduce

Open the timepicker with a mobile device, hold down  one of the arrows so that the time-digits starts to change quickly. Then after a while, stop. Then try to change the digits of the one you did NOT hold down on. Nothing happens. Not also that I was using dateFormat={false}.

### Expected Results

see above

### Actual Results

see above

[2017-02-05 15:07] simeg commented on #259
Hi @jonsvez. Thanks for the bug report.

To my knowledge this component has never officially supported any mobile browser. It's awesome if it does work, but I won't spend any time trying to fix bugs like these. I'm guessing there are other Datepicker components that do support mobile browsers that I'd recommend you to use. Sorry.

[2017-02-05 15:07] #259 closed

[2017-02-05 16:13] jonsvez commented on #259
Yeah it works really nicely when the "input" is set to false (mobile devices tend to bring up their keyboard when an input is clicked, which covers the actual component ..). Other than holding down on the arrow-buttons it seems to work really good.

Not really ^^ most of them suck

Anyway, keep up the good work

[2017-02-05 17:03] simeg commented on #259
Too bad.. I just assumed some people were building mobile-friendly components. I don't have much experience building generic modules for mobile, but if you do I'd be happy to review a PR from you about this fix :) Or anything really.

[2017-02-06 15:11] abrad45 commented on #255
I'm really glad this is supported! I should have looked through the code a bit better ~~or, you know, tried it out first~~ but setting `className` in `inputProps` should maybe appear in the readme as a possibility?

Thanks for an awesome plugin.

[2017-02-06 15:21] simeg commented on #255
Sure, we can add that. Thanks.

[2017-02-08 03:28] vijayst opened #263 "closeOnSelect is not working with 2.8.4"
closeOnSelect is not working after upgrading to 2.8.4.

[2017-02-08 11:11] mieryn commented on #256
Yes, changing viewMode changes what viewMode is shown first but only by leaving out days or months from the dateFormat you do not have to pick day or month at all (the month picker and/or day picker does not show up after selecting year/month). This was exactly the thing I needed and was glad to find out it exists :)

[2017-02-08 19:27] simeg commented on #263
Hi @vijayst. Exactly what props are you using? Because [in this demo](http://codepen.io/simeg/pen/wgEVaP) it works as intended.

[2017-02-08 19:29] simeg commented on #256
Ah, yes you are correct. Indeed it seems weird to leave this out of the documentation, I'll update it. Thanks for the input!

[2017-02-08 19:29] #256 closed

[2017-02-08 23:09] knilink opened #264 "The default date was first day of the month when skipping selecting date"
This happened when:
- User switch to time view without picking a date
- viewMode was "time" and user selected time without picking a date.

I'm not sure whether this is a bug or not but it makes more sense if the default date is today.

My scenario is most of the time users just need to select a time but they are allow to change the date when they need. And also, default value is not allowed for p

[2017-02-09 03:52] mdkwock commented on #263
I think it's related to the fix for https://github.com/YouCanBookMe/react-datetime/issues/163

from what I'm seeing, it's possible to hit a race condition between the setState({open: false}) from the closeCalendar function and the componentWillReceiveProps resetting the open state to be true.

what is the reason for resetting the open state to the existing state, rather than just not setting the o

[2017-02-09 05:28] vijayst commented on #263
@simeg The props that I am passing are:
[code]

[2017-02-09 05:55] pnaveen10 commented on #263
I'm also seeing the same issue after upgrading to the recent version.

The props I'm using are:
`<Datetime
	timeFormat={false}
	closeOnSelect={true}
	value={this.state.date}
	onChange={this.updateDate}
	inputProps={{ placeholder: 'mm/dd/yyyy'}}
/>`

[2017-02-09 11:13] AndreyShpilevoy commented on #263
Also faced with the same problem.
If I delete `onChange={ onChange }` it's begun to work again.

[2017-02-09 18:07] simeg commented on #264
Hm, not sure if I understand what actually happens. If you could either provide a step-by-step guide or create a demo, that would be very helpful! For demo you can fork this codepen: http://codepen.io/simeg/pen/mEmQmP

[2017-02-09 18:24] simeg commented on #263
Thanks for the information everyone. I can't seem to reproduce this, if you could help me we could squash this bug a lot faster. I've tried all the props you guys have written here but no go. If someone could fork this codepen and show me the bug I'd be very grateful. Please use 2.8.3 during the meantime, sorry for the inconvenience.

http://codepen.io/simeg/pen/wgEVaP

[2017-02-09 20:20] mdkwock commented on #263
there might be a simpler example but this one reproduces the behavior I see
https://codepen.io/anon/pen/QdZJvG

[2017-02-09 21:42] simeg commented on #126
Fixed in #254 (changes merged in #266).

[2017-02-09 21:42] #126 closed

[2017-02-09 21:42] simeg commented on #203
Fixed in #254 (changes merged in #266).

[2017-02-09 21:42] #203 closed

[2017-02-09 23:36] simeg commented on #263
@mdkwock thanks for that.

I published a fix for this problem in 2.8.5. The logic can sometimes be hard to follow in this codebase, I think. Therefore it's hard to foresee all cases.

I'll keep this issue open until at least one or two of you confirms that the new version works.

[2017-02-10 01:29] stonecold123 commented on #181
I put `import * as React from 'react'` at the top of index.d.ts and this error `Error TS2503: Cannot find namespace '__React'` is gone.

Can anyone solve the error from `export = ReactDatetime;` at the bottom of the script? It is throwing `Error:(167, 3) TS2666:Exports and export assignments are not permitted in module augmentations.`

[2017-02-10 11:51] nancruz opened #269 "Calendar always visible and not closing when clicking outside the element"
The react datetime appears as opened by default. Even when I click outside the element they do not close. It started happening after upgrading to the latest version (2.4.5).

![image](https://cloud.githubusercontent.com/assets/1250918/22825754/e5136476-ef86-11e6-894c-f36b57d2bac9.png)

[2017-02-10 15:25] simeg commented on #269
Hi @nancruz.

Exactly what props are you using?

[2017-02-10 16:29] simeg commented on #224
Hey guys, sorry but I had to revert the change I made for 2.8.4 (in 2.8.6) due to some other issues. If you're not experiencing any problems with 2.8.4 I recommend you to use that specific version until we can sort everything out. Thanks.

[2017-02-10 16:29] simeg commented on #163
This PR was reverted due to creating other bugs in version 2.8.6. We will have to figure this out in another way.

[2017-02-10 16:31] simeg commented on #263
Hey again, my fix was not a good one so I reverted some commits that brings us back to the logic we had a while back. So this specific issue should hopefully be resolved in 2.8.6. Sorry for any inconvenience.

[2017-02-10 16:34] simeg commented on #269
@nancruz I just published version 2.8.6 which hopefully will resolve your problem. Let me know if it did not.

[2017-02-10 16:37] nancruz commented on #269
@simeg sorry for the late response. I'm only using the "defaultValue" and "onChange" props.

I'll try again with the 2.8.6 version that you've just published and I will let you know.

[2017-02-10 20:43] simeg commented on #251
Hi @sceutre, this has been fixed in 794700cc3c0378368320255e978ee3b249a33a48 and will be included in the next release of the component. Will close this for now, if you're still having problems just let me know.

[2017-02-10 20:43] #251 closed

[2017-02-10 21:06] layneanderson commented on #264
Hi @knilink ,

What are you using for the _value_ prop?

[2017-02-13 19:18] simeg commented on #263
Can anyone confirm that this is working again?

[2017-02-14 06:11] pnaveen10 commented on #263
This works fine for me. Thanks for the fix!

[2017-02-15 10:45] nancruz commented on #269
@simeg I've tried the version 2.8.6 and everything seems to work fine. Thanks!

[2017-02-15 10:45] #269 closed

[2017-02-15 20:45] travismgibson commented on #148
Thank you grbatinic-bogdan after 3 days of looking it worked!!

[2017-02-16 12:47] imluckyhussain opened #273 "Can't use twice in same page, the calendar opening near the 1st picker only"
Can't use the Date Time picker twice in same page, the calendar opening near the 1st picker only.
Due to this, if we want to choose "From Date Time" & "Upto Date Time" then its not showing calendar near the second picker, but its opening the calendar near the 1st picker.
Kindly resolve the issue for better user friendly experience.

[2017-02-16 13:03] imluckyhussain commented on #273
The issue was from my side, because of the css Positioning it was happened. After wrapping the element with a div the problem was solved.

[2017-02-16 13:03] #273 closed

[2017-02-16 20:59] #263 closed

[2017-02-19 21:57] justin808 opened #275 "Cannot test with storyshots due to findDomNode"
# Summary: We cannot use storyshots with react-datetime

We are using: https://github.com/storybooks/storyshots for testing.

Per this issue:
https://github.com/facebook/react/issues/7371#issuecomment-260946944

and per this code:

https://github.com/YouCanBookMe/react-datetime/blob/5c617dcc7f23f667761b26fb4565d5f33d44dea7/src/onClickOutside.js#L58

[code]

This fails with this obscure error:

[co

[2017-02-23 05:45] knilink commented on #264
@simeg

1. Assuming today is 02/23/2017.
2. Click on react-datetime the date pike shows up and a little blue triangle highlight today's date.
3. Click on "12:00 AM" without touching anything else, time picker shows up.
4. Selet a time, then the selected datetime will be "02/01/2017 12:00 AM" which is the first day of the month.

It's a little bit confusing because the default date is not the highl

[2017-02-23 15:22] wullaski commented on #145
I know this is closed but I'd also like to have keyboard accessibility added. It a pain but it would be a nice added feature. If I have time maybe I'll create a pull request.

Thanks for the great component.

[2017-02-27 19:10] dbraynard commented on #90
I am also seeing this behavior. Are they any workarounds?

react: 15.4.2
react-datetime: 2.8.7

[2017-02-27 19:26] dbraynard commented on #90
FYI, I switched to 2.8.6 and the arrows work fine. It looks like an issue in 2.8.7.

[2017-02-28 12:31] aju commented on #90
I have issue with closing popup as well with version 2.8.7 - 2.8.6 works fine!

[2017-02-28 12:42] EugeneChu opened #277 "2.8.7 broke the rdtTime events(autoClose)"
Guys, thanks a lot for your work and this component — it saved me a lot of time, but in **2.8.7** release **rdtTime view** doesn't seem to work properly, e.g. after every click on arrow buttons to change hours or minutes component is automatically closed.

Another bug is when you are in rdtTime view you can't return to rdtDate view - click on date simply closes the component.

I used component wit

[2017-02-28 15:28] arqex commented on #277
Yes, seems that yesterday version that updates react-onclickoutside also creates new issues. We are working on it, until there is a fix please block your version to 2.8.6.

[2017-02-28 15:28] arqex commented on #90
Yes, seems that yesterday version that updates react-onclickoutside also creates new issues. We are working on it, until there is a fix please block your version to 2.8.6.

[2017-02-28 16:37] loris commented on #277
Confirm issue, rolling back to `2.8.6` is working fine

[2017-03-01 03:11] jtadmor commented on #277
Hi,

This error is being caused because the react-onclickoutside library doesn't rebind its click handler when the wrapped component renders a new node. Thus when switching from `DayView` to `TimeView` (or any two views) in the `CalendarContainer`, any click looks like it is outside the original dom node.

One (perhaps temporary) fix is simply to wrap the viewComponent in a div (in CalendarContain

[2017-03-01 03:31] jtadmor commented on #277
Here is my branch of `react-onclickoutside` that also (at least for me) seems to fix the issue:

https://github.com/jtadmor/react-onclickoutside/tree/reset-handler-on-update

I have a PR open with that lib.

[2017-03-01 09:26] arqex commented on #277
Hey @jtadmor, as you said, seems that react-onclickoutside keeps track of the root node of its wrapped component. If the root component changes, react-onclickoutside is always thinking that the click happened outside. That is what was happening with react-datetime, and it's great you have a PR for react-onclickoutside for supporting root node changes.

Anyway I have updated react-datetime wrapping

[2017-03-01 17:16] jtadmor commented on #277
Thanks for the quick fix!

[2017-03-02 02:01] fudgecakes opened #278 "Buggy in safari."
Safari version 9.1.2

On safari, clicking on the input field works but clicking on the numbers does not. The weird behavior is sometime clicking on the numbers the calendar popups for a second and then goes away.

[2017-03-02 08:38] goodnightcat opened #279 ""Blank" lines with no days related to the current month displayed on certain months"
### I'm Submitting a ...

[code]

In DaysView, sometimes there is a full line of days belonging to the past month, which shouldn't be displayed at all since the whole week belongs to the previous month and not the current month and the "empty week" simply doesn't anyhow relate. Same applies for a full line of days belonging to the next month, which sometimes appear on Februarys ending with last da

[2017-03-02 09:53] cyrilepinat opened #280 "Add a way to set the viewDate dynamically"
### I'm Submitting a ...

[code]

### Steps to Reproduce

Hi everybody,
I would like to open datepicker at a date I dynamically specified.

Let me explain :
- I'm in viewMode "days"
- No date is selected
- I don't want to use defaultValue as it set the input value if initial value is undefined
- I use isValidDate to set a min date in my datepicker
- I change the minDate to 2 months later

### Expe

[2017-03-07 09:30] KevinJunJun commented on #208
+1

[2017-03-07 21:00] awkaiser opened #281 "Versions 2.8.7 - 2.8.8 can break some builds"
### I'm Submitting a ...

[code]

### Steps to Reproduce

This issue _probably_ won't be noticed by most people, because I'm doing something a bit unconventional regarding Webpack `externals` transforms for React and React DOM, so consider this a "canary in the coal mine" report.

### Expected Results

No build error (like with `react-datetime` 2.8.6)

### Actual Results

[code]

### Other Informa

[2017-03-07 22:15] asgoel opened #282 "Cannot get picker to show local version of time"
### I'm Submitting a ...

[code]

### Steps to Reproduce
1. Pass in date object to react date picker (with time enabled).
2. Time shown is the UTC time, not the local time, even though `utc` prop is false.

Is there a way to force the picker to show the date passed in local time instead of UTC time?
It's possible I'm misunderstanding how it's supposed to be used.

[2017-03-08 02:42] KevinJunJun commented on #173
I have the same problem

[2017-03-08 07:31] nomanalikhan opened #283 "Datepicker disappears when clicking scroll bar and doesn't return when clicking in input box again"
This only happens when you click on the scroll-bar on a page. When you click, the picker disappears, but the input box doesn't lose focus. Now if you click back into the input box (which still has focus) the picker will not pop open. You have to click outside the box to blur it, then click back in. If you click outside the input box anywhere else besides the scroll bar, then the input box loses fo

[2017-03-08 07:32] ferpintado opened #284 "Uncaught TypeError: Cannot read property 'hours' of undefined"
[code]

I found this error that happens once in a while while changing the day. It even happens when clicking in the same day.

I am using version 2.8.8

[2017-03-09 23:01] jdmswong opened #285 "Returning to a selected year resets selected month"
See the docs example: http://codepen.io/simeg/pen/apQLdd

* select a month
* view a different year
* return to the previous year
It should display the previous selected month however **month has been reset to either january or december**

If returning to selected year via year selection view then selected month is reset to **january**
If using the arrow button in the header it is reset to **decemb

[2017-03-10 10:51] odyzxc opened #286 "Inconsistency between text input and time picker"
### I'm Submitting a ...

[code]

### Steps to Reproduce

1. open http://codepen.io/anon/pen/evveQG (a simple example of react-datetime with added timeFormat="h:mm:ss")
2. use time picker arrows to increase the time to 13:00:00 (not directly via the text input)

Also trying to
### Expected Results

Text input shows 13:00:00 - time picker shows 13:00:00

### Actual Results

Text input shows 1:00:00

[2017-03-10 15:24] layneanderson commented on #282
Are you setting the `locale` prop?

[2017-03-10 17:07] elkinjosetm commented on #233
+1 I have the same issue. I can only select a date on first time you open the picker, after that, if you change to year view, and you try to select another month, the datepicker closes right away, and after that, I'm unable to keep using the picker, always closes. And stay at year view with december month selected.

[2017-03-14 19:11] tsnevillecom commented on #208
I'd prefer just to click outside or tab to close the datetime picker. This bug is about to make me yank it out of my app.

[2017-03-14 19:43] tsnevillecom opened #287 "Time arrows are closing the picker and preventing calendar view"
### I'm Submitting a ...

[code]

### Steps to Reproduce

Click on time. Click arrows... It closes. Click the input again and you can't return to the calendar.

### Expected Results

I expect to click the time arrows multiple times and not close the datetime picker.

### Actual Results

The datetime picker closes.

### Minimal Reproduction of the Problem

![react-datetime](https://cloud.githubuser

[2017-03-14 20:19] jtadmor commented on #280
Right now I am doing this very, very dirty react code:

[code]

If we could just pass in a defaultViewDate that would be excellent :).

Happy to work on a PR.

[2017-03-14 23:48] loaibassam commented on #47
Has anyone created this component?

[2017-03-14 23:48] loaibassam opened #288 "Time pickers as sliders"
Can we have the time picker as a slider? Something like this: https://dribbble.com/shots/1439965-Due-Date-and-Time-Picker

[2017-03-16 07:17] z3h opened #289 "The active month is always Dec whenever the picker is hidden and opened again"
In my local application, i find that the month picker is always Dec active after it's hidden and opened again.
I tried the official demo again after that, but the result is same.

[2017-03-16 17:36] bcronin opened #290 "Next/previous click targets do not align to CSS hover region"
### I'm Submitting a ...

[code]

### Steps to Reproduce

Summary: the on-hover highlight and the click target for moving the date forward / backward are not the same, which leads to put of the control "looking" clickable even when clicking will have no effect.

Specifically, the click target is set to the "SPAN" element containing the "›" character. The CSS hover highlight is on the containing "T

[2017-03-17 14:24] sunlee-newyork commented on #287
+1
Works as expected on localhost run but once the code is shipped to a remote server, experiencing the same issue as above. Any time a click triggers a view change (clicking month or time) causes datetime picker to close.

[2017-03-22 07:07] BBigLee opened #291 "Hope adding date-range-pick feature"
### I'm Submitting a ...

[code]

### Steps to Reproduce

### Expected Results

Hope
### Actual Results

### Minimal Reproduction of the Problem

### Other Information (e.g. stacktraces, related issues, suggestions how to fix)

[2017-03-22 08:06] sufuf3 opened #292 "Which files need to be hosted?"
### I'm Submitting a ...

[code]

### Other Information (e.g. stacktraces, related issues, suggestions how to fix)

Hi @YouCanBookMe   ,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs/). We are going to host this library.

What the files should need to be added in cdnjs?
(I guess the files under `dist/` and `css/` need to be added in cdnjs.)

If you have any suggestions, please let me know

[2017-03-22 19:53] sstawecki commented on #238
I have a similar issue using the component as a time picker only for hours in 12hs format. The `value` prop is linked to state `value={this.state.hour}` and I did a lot of tries with several strings, dates and moment objects like `"11 pm"`, `"23"`, `new Date(y,m,d,h)`,`new Date().setHours(23)`, `moment(23,'H')`, `new Date().toString()`, etc but the am/pm part wasn't reflecting the state value. I f

[2017-03-24 11:50] MilosRasic commented on #213
https://www.npmjs.com/package/classlist-polyfill

Should probably be a react-datetime dependency. Managing this in a multi-repo project is a pain.

[2017-03-26 20:52] jordancardwell commented on #289
+1

[2017-03-26 21:16] jordancardwell commented on #289
@z3h just FYI there is a fix PR opened to solve this

[2017-03-27 05:34] piu opened #294 "React Datetime gets hang in IE browser when double clicked on Month view"
Hi,

When using react-datetime in IE browser and click on Month view gives a error in Console for Array.from not found and also Array.find not found. After this the date-time control becomes irresponsive to any action in date-time control and hangs in IE.
Below code pen is demo link from official site and this reproduces issue in IE 11 browser : [http://codepen.io/arqex/pen/BNRNBw](url)

In order

[2017-03-29 11:19] Rajat421 commented on #282
i am having the same problem , utc is false even than i am geting UTC time , i am passing locale props as well

[2017-03-30 15:19] ferpintado opened #299 "Avoid render days from next and previous month"
When a month is rendered few days of the previous and next month are rendered as well.

Is there a way to avoid this?

![calendar](https://cloud.githubusercontent.com/assets/1950781/24511801/592eeb34-1532-11e7-87d1-4a49c4bc240d.jpg)

(Red lined what I DONT want to be displayed)

[2017-03-31 15:01] Revln9 commented on #287
this is a bug and it happens when you pick a month too.

When you click on something the 'open' state property  change from false to true and then flipback,  don't know why yet , to see what i am talking about add this line to the function `handleClickOutside` in the file `DateTime.js`

`console.log('handleClickOutside' , this.props.input , this.state.open , !this.props.open)`;

[2017-04-03 09:42] fandrupaw opened #301 "Add event to onChange"
It would be nice to add `e` to `onChange`

`onChange(e, date) { ... }`

this can be helpful to eg play with keyboard events

[2017-04-04 21:12] #217 closed

[2017-04-05 09:32] gordonk commented on #289
+1

[2017-04-07 08:27] haipham23 opened #303 "viewMode should be reset on click / blur"
### I'm Submitting a:
[code]

### Steps to Reproduce
Go to example URL: http://codepen.io/simeg/pen/mEmQmP
Click on input
Clicn on `viewMode`.
Click until it displays `years` mode.
Click again, it still displays `years` mode.
Blur it out and click on datepicker again, it still displays `years` mode.

### Expected Results

viewMode should be reset on click / blur.

[2017-04-07 13:20] avaneesh-webonise commented on #224
Hi there,
Faced an issue related to this where clicking the input field for the first time, date picker opened. But when i click the input field again, it just closed. I cross verified it by using onBlur prop and saw that on clicking the input field when the date picker was open, it was going to onBlur method.

For a workaround, i downgraded to version 2.8.4. But there i got another problem where

[2017-04-07 15:05] layneanderson commented on #303
Minus 1 from me.

In my opinion this would be undesirable from a user standpoint in most of cases.  I think if the user changes the viewMode then is should stay with what they last chose.

I think if your use case needs this you can probably program a handler to achieve the desired result.
E.g. `<Datetime viewMode={this.state.viewmode} />`

[2017-04-08 01:02] haipham23 commented on #303
If I set `viewMode="days"`, then click on `viewMode`, it would go from `days` => `months` => `years` then stucks there. There isn't a way to reset viewMode to `days` again.

I have a requirement like this:
- User opens Datepicker and see `days` mode.
- User clicks on `viewMode` to change to `years`.
- User should be able to to go back to `days` mode.

For now, I can't find a way for user to go bac

[2017-04-08 01:10] haipham23 commented on #303
Sample code:

[code]

[2017-04-08 04:51] layneanderson commented on #303
When in the year view, does clicking on the a year not bring you back into day view?

[2017-04-08 08:13] haipham23 commented on #303
Unfortunately, no.

[2017-04-08 11:08] simeg commented on #289
@z3h @jordancardwell @gordonk

Fixed with #293 (thanks @jordancardwell!). Update to `2.8.9` to get this fix.

[2017-04-08 11:08] #289 closed

[2017-04-10 11:52] kadishmal opened #305 "Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
### I'm Submitting a ...

[code]

### Steps to Reproduce

1. Update React to `v15.5.3`.
2. Build the code.
3. The warning: warning.js?8a56:36 Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

### Expected Results

No warning should be displayed.

Looks like the fix would be very simple as there are only couple places that use `Prop

[2017-04-10 16:47] layneanderson commented on #303
I'm guessing its something in your code.  The codepen link you provided at the top does not have a problem as you describe (at least not in the version of Chrome I'm using).

[2017-04-10 18:54] jiayuan6311 commented on #275
+1, we met the same issue

[2017-04-11 20:04] ccorcos commented on #305
Also createClass warning

[2017-04-12 07:21] kpaxqin opened #308 "Add prop defaultViewDate"
My scenario is letting user select a date in the past, I need to customize the month displayed before user select any date.

Currently the only way to customize default view date is setup a value/defaultValue, if no value was given, the default view date will be today.

Code:
https://github.com/YouCanBookMe/react-datetime/blob/master/DateTime.js#L77

Can we add a new prop defaultViewDate for it?

[2017-04-12 11:23] dmr opened #309 "Empty defaultValue"
Is is possible to set an empty defaultValue?

[code]

always uses today.
I didn't find anything in other issues or documentation about this yet.

[2017-04-12 13:45] skindc opened #310 "Cannot change time constraints"
Hi.

It seems that changes to timeContraints property are not consumed by the TimeView after initial mount.
If this is intentional I will accept yet my scenario does require that the timeContraints may vary depending on which day is selected.

[2017-04-13 13:55] aaronmcadam commented on #305
Here's an example of how `enzyme` migrated to React 15.5: https://github.com/airbnb/enzyme/pull/876

[2017-04-13 13:55] aaronmcadam commented on #305
Looks like #307 addresses this

[2017-04-16 01:00] Alex-Joseph opened #311 "isValidDate unable to read an array of dates (as strings)"
### I'm Submitting a ...

[code]

### Steps to Reproduce

[code]
### Expected Results

Expected only two vaild dates on the calendar
### Actual Results

No valid dates
### Minimal Reproduction of the Problem

### Other Information (e.g. stacktraces, related issues, suggestions how to fix)

[2017-04-21 19:41] simeg commented on #305
Thanks @kadishmal for reporting this. Closing it as #307 was merged.

[2017-04-21 19:41] #305 closed

[2017-04-21 19:45] simeg commented on #264
I can verify, this is indeed a bug.

[2017-04-21 19:46] #277 closed

[2017-04-21 19:48] simeg commented on #278
I have Safari 10.1 and it seems to be working fine for me. Is this behavior special for that specific version?

[2017-04-21 19:51] simeg commented on #279
Hi @goodnightcat. I see what you mean and sure, maybe this is sub-optimal. However I don't feel like it is something that I want to spend my time on fixing. If you want to submit a PR then I'll gladly review it.

[2017-04-21 19:52] #279 closed

[2017-04-21 19:55] simeg commented on #284
Hi @ferpintado. Can you provide a demo ([you can fork this](http://codepen.io/simeg/pen/mEmQmP)) or a step-by-step guide to recreating this bug? Otherwise it's very hard to find it.

[2017-04-21 20:22] simeg commented on #290
Hi @bcronin and thanks for this! I agree that what you're suggesting makes much more sense, that's why I applied your suggested changes (https://github.com/YouCanBookMe/react-datetime/commit/c82df854356a45b9b29bc28967d6512f4531dbf0). These changes will be part of the next release. Thanks!

[2017-04-21 20:22] #290 closed

[2017-04-21 20:24] simeg commented on #291
Hi @BBigLee. If you want us to spend our free time and energy implementing a feature for you, the least you can do is write a proper request for it. Be super specific in describing your needs. This will have to be done in a new issue.

[2017-04-21 20:24] #291 closed

[2017-04-21 20:26] simeg commented on #292
Hi @sufuf3. Thanks for offering to host this component on your CDN. We'll get back to you soon.

[2017-04-21 20:32] simeg commented on #282
Hi @asgoel and @Rajat421. Can you provide a demo of this problem? It would make it a lot easier for me to debug. You can fork this codepen, it has all the necessary code loaded already: http://codepen.io/simeg/pen/mEmQmP

[2017-04-21 20:33] simeg commented on #299
Hi @ferpintado. No, there's no way to avoid this behavior at the moment. If you want to submit a PR I'll gladly review it. Thanks.

[2017-04-21 20:33] #299 closed

[2017-04-22 08:00] sufuf3 commented on #292
@simeg Thanks.
And There are some files is missing from npm in v0.1.0 and v0.4.1, and  I can't get them from GitHub.
Is there any way can get the v0.1.0 and v0.4.1?

If you have any suggestions, please let me know.

Thank you.

[2017-04-24 19:28] simeg commented on #301
Hi @fandrupaw. I agree that this would be useful, however returning the event as the first argument would be breaking the API of the component. Adding it as the second argument would be better, but then it would be inconsistent with pretty much the entire world :P But I guess having it as second argument is better than nothing. I'll look into it.

[2017-04-25 12:45] kevinmuller1220 opened #314 "viewMode='years' not working on IE11"
###I'm Submitting a ...

[code]

### Steps to Reproduce
I tried this with Internet Explorer 11.
On the demo page, http://codepen.io/simeg/pen/mEmQmP

I replaced ```<Datetime />,``` with ```<Datetime viewMode='years' />,```
And it showed me blank screen.

Any ideas?

[2017-04-25 14:11] simeg commented on #275
@justin808 @jiayuan6311 Are you using the latest version? I know the dependency for handling that got replaced, maybe it will resolve your problem.

The code that is causing the problem lives in a differente repo: https://github.com/Pomax/react-onclickoutside

[2017-04-25 14:18] simeg commented on #309
@dmr Hey, do you want it to always use today? In that case you can input `new Date()` as `defaultValue`. Or am I misunderstanding you?

[2017-04-25 14:21] simeg commented on #308
Hi @kpaxqin. I'm sorry but I don't understand your use-case or what this prop should be doing. Can you try to explain in differently?

[2017-04-25 14:28] simeg commented on #310
Hi @skindc. This is intentional though not wanted behavior. We're planning on fixing this and other props in version 3. If you feel like you can't wait you are welcome to publish a PR. Thanks.

[2017-04-25 14:28] #310 closed

[2017-04-25 15:28] simeg commented on #311
Hey @Alex-Joseph. As you can see in our documentation we're using methods provided by [moment.js](https://momentjs.com/) to check if a certain date is after, or in your case the same, as the current date. With that said I think your values are not specific enough, I think you have to wrap them in a moment object, something like this:

[code]

[Look here for more information about moment.js.](https

[2017-04-25 16:52] rikkit opened #316 "Error thrown when setting defaultValue to null"
### I'm Submitting a ...

[code]

### Steps to Reproduce
Set the defaultValue property to null.

### Expected Results
Same as setting value to null; input field is empty and picker doesn't have anything selected.

### Actual Results
Error thrown on line in DateTime.js getStateFromProps ```else if ( date.isValid && !date.isValid() )```: ```TypeError: Cannot read property 'isValid' of null```

### M

[2017-04-25 19:29] jiayuan6311 commented on #275
We are on the latest version but the problem still persists. The problem is with `ReactDOM.findDOMNode`. It is still in the latest `react-onclickoutside`([Link](https://github.com/Pomax/react-onclickoutside/blob/5b023e90b09ea148285296c31041e35d7aa5b8dd/index.js#L153)).
Is there any way to work around this?

[2017-04-25 19:37] simeg commented on #275
@jiayuan6311 As `react-onclickoutside` is a library this component depends on, I don't see any way around this unfortunately :/

[2017-04-26 03:38] sufuf3 opened #317 "Some files seem to miss in react-datetime@0.1.0 and 0.4.1"
Hi @arqex ,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs). We are going to host this library.
But there are some files is missing from npm in `v0.1.0` and `v0.4.1`, and I can't get them from GitHub repo too.

So, where can I find the files in `v0.1.0` and `v0.4.1`?

If you have any suggestions, please let me know.

Thank you.

cdnjs/cdnjs#11082

[2017-04-26 06:34] kpaxqin commented on #308
@simeg Sorry for my poor English : (

For example our online demo: http://codepen.io/simeg/pen/mEmQmP

Currently when I click the input and open the picker, the month will be current month. And I need to find a way to customize it to Jan/Feb without giving a default selected day.

You can take a look at the link I posted, the viewDate will be either the selectedDate or today.

[2017-04-27 08:04] pcc1650 commented on #287
+1
Bug happens both pick a month and add a hour or minute.

[2017-04-27 08:11] Colkadome opened #318 "Manually typing an invalid date, then a valid date, removes timezone"
### I'm Submitting a ...
[code]

### Steps to Reproduce
1. Create a new moment with a timezone, e.g. moment.tz( . . . , 'Australia/Melbourne')
2. Have a Datetime controlled component that takes the moment as a value, and updates the value with onChange.
3. Type in an invalid date.
4. Type in a valid date.

### Expected Results
The timezone is kept.

### Actual Results
The returned moment has no ti

[2017-04-28 07:51] artem-ovcharenko-codilime commented on #264
Hello everyone, or one other case related to this bug:
1. disable some dates for selecting by isValidDate property(for example any date in April disabled)
2. change month to some disabled(if you will select April in calendar view every date is disabled)
3. change view to time view
4. change time

after time changing we automatically have  April 1st selected, but it is disabled date

[2017-04-28 11:41] simeg opened #319 "Figure out how to handle styling"
http://editorconfig.org/

[2017-04-28 17:34] layneanderson commented on #319
I find something like this is trying to solve a nitpick problem.  I'm trying to say this in the nicest way possible, so please take no offence (as none is intended).  Unless someone has really butchered a PR, a few minor spaces or line feeds isn't a big deal.  There are far too many hours spent correcting nit issues, when this time could be spent writing or reviewing code.  I also think that PRs s

[2017-04-28 17:38] simeg commented on #319
@layneanderson No offence taken at all, I of course want input from other developers. I generally don't think this is a good approach either, I think the linter should just take care of styling. But in every single PR I see the style being weird, and I don't blame people because I can't seem to figure out what is being used - tabs or spaces or a combination. In my editor everything looks good unti

[2017-04-29 00:04] simeg commented on #319
Prettier looks nice, I'd like to use it. Running it on the code (excluding config files for webpack and gulp) gives `-1,437 +1,452` though. Since prettier is not very customizable some of the styling choices are lost, like having semi-colon on separate line and spaces like these `function( arg )`.

As I'm not the author of this codebase I don't want to do this without any input from the author. @a

[2017-05-02 12:46] arnriu commented on #233
https://github.com/YouCanBookMe/react-datetime/pull/293

[2017-05-04 16:33] eduardoinnorway opened #321 "Add icon calendar toggle option"
I would be really nice if you could choose to toggle the calendar with an icon instead of on focus. The issue with onfocus is that when you have some async action on another input before the calendar you will loose the focus and the calendar will be closed when tabing to it, if you render some data from the async call.

[2017-05-08 05:53] pstadermann opened #322 "Reopening calendar after click on input requires refocus"
### I'm Submitting a ...

[code]

### Steps to Reproduce

* Tab to input (calendar opens)
* Click on input
* Try to reopen the calendar

### Expected Results

* Clicking on the input reopens the calendar

### Actual Results

* You can only reopen the calendar if you refocus the input (click somewhere else, click on input). This is hard to understand for the user.

[2017-05-08 07:50] bradeac opened #324 "closeOnSelect not working properly"
Hello,

After going through some of the other bug entries related to this, I still couldn't find a solution.

I am using react-datetime with **Redux Forms**. The code looks something like this, nothing fancy:

                <DateTime
                    closeOnSelect={true}
                    dateFormat="YYYY-MM-DD"
                    timeFormat={false}
                />

When I click on it,

[2017-05-09 00:06] mikedevita opened #325 "How to use redux-form with react-datetime, getting back a moment.js object as my value."
### I'm Submitting a ...
[code]

### Steps to Reproduce
1. install latest react-datetime and redux-form
2. try to build a connected component using redux-form `<Field />` components
3. expect the component to update the redux-form field value in props/global store with the correctly formatted date string

### Expected Results
 expect the component to update the redux-form field with the formatted

[2017-05-09 13:57] layneanderson commented on #314
I can confirm this bug (via codepen).  viewMode="months" also does not work in IE11.

[2017-05-09 14:00] Andriy-Kulak opened #326 "Help! Strict Parsing Does not work"
why is strictParsing not working? If I turn it to true, I can type in whatever numbers and alphabetical characters I want.

Codepen below for reference. Does anyone have any idea on how to fix this?

http://codepen.io/anon/pen/RVxdMx

[2017-05-09 16:32] layneanderson commented on #325
I'm not familiar with redux-form but ,if you want a string you will have to convert it to one in your handler.  This can be achieved by calling .format (moment method) on the returned moment object.

e.g. something like this:
[code]
Where DateTimeMomentObject is the value you are passing to your onChange handler.

[2017-05-09 16:45] mikedevita commented on #325
thanks 👍  I could throw this in the `onChange` for now my workaround was just to run `moment(SomeForm.values.startDate._d).format('MM/DD/YYYY hh:mm A');` *externally* on my `handleSubmit()` before i pass it off to the backend.

[2017-05-10 04:44] tankorsmash commented on #301
Just to jump on here, maybe this isn't the best way of writing my forms, but I've got it so the onChange callback sets the state through `e.target.name` and it doesn't seem like it's as possible to do with react-datetime, so I've had to create a separate callback for each of the form fields with only the hardcoded name value being set to the state differing.

Anyway, all that to say I'm looking fo

[2017-05-10 13:20] knnemade99 opened #328 "Open Time Picker window before DatePickerwindow"
Hi,
I want to open Time Picker window before Date Picker window.

By default if we pass property open={true} to the component, it opens Date Picker window first then Time Picker after clicking on time.
I want just opposite to that case.
If anyone has some solution to it kindly let me know ASAP.

Thanks in advance

[2017-05-11 06:46] #328 closed

[2017-05-11 06:46] knnemade99 commented on #328
I used the property **viewMode** for that and resolved that issue.

[2017-05-13 01:35] derekcannon commented on #287
Are you guys using Redux Form along with the react-datetime? I have this similar issue, but it only seems to be happening when a change to the datetime component makes the form dirty (i.e. not pristine).

If I modify another form field first, the form is no longer pristine, and I can modify the dates and hours freely without the popup closing.

Another interesting scenario:
1) Click datetime compo

[2017-05-13 01:42] derekcannon commented on #148
This solution works for me. However, I am having a problem where every time the form toggles between the pristine and dirty, the popup closes. So for example, on a pristine form, if I increase the time on the popup by an hour, the form closes. If I reopen and modify it in any way, it works normally. However, if I got back to the initial date, the form becomes pristine and the popup closes.

[2017-05-13 08:02] pcc1650 commented on #287
@derekcannon
Hi Derek, I do use Redux Form along with react-datetime. I fix this issue when I modify code like following

<Field name='startDate' component={props => <Datetime value={props.input.value} onChange={param => props.input.onChange(param)}/>}/>

Hope it helps.

[2017-05-13 08:03] pcc1650 commented on #287
@derekcannon
Hi Derek, I do use Redux Form along with react-datetime. I fix this issue when I modify code like following

<Field name='startDate' component={props => <Datetime value={props.input.value} onChange={param => props.input.onChange(param)}/>}/>

Hope it helps.

[2017-05-14 00:06] derekcannon commented on #287
Thanks @pcc1650, I have had the my field set up as you suggested. I also removed everything else off my form to ensure that there wasn't something else causing the problem. Here is a visual representation, notice the state of pristine:

![](http://g.recordit.co/JgMYtQUp5N.gif)

Here's the component:

[code]

Note: I've erased the other props to Datetime just to ensure there wasn't some weird behav

[2017-05-15 17:25] bbrown-extensis opened #330 "Better support for keeping the calendar open/close state in sync with the application"
### I'm Submitting a ...

[code]

### Steps to Reproduce

1. Include Datetime in an application similarly to the code below where the parent application is opening the calendar with a button that toggles the parent application's showCalendar property:
[code]
2. Select a date. Calendar closes.
Observe: the application still thinks the calendar is open, and the next button click won't open the calen

[2017-05-15 18:33] bbrown-extensis commented on #330
Hmm, okay. I think I've solved my problem by using onBlur.

[2017-05-15 18:33] #330 closed

[2017-05-17 16:51] und0ck3d opened #331 "Refs Must Have Owner Warning"
[X] Bug report
[ ] Feature request
[ ] Support request

### Steps to Reproduce
- Install the latest `react-datetime` version;
- Require and use it in any React component;

### Expected Results
Expected that component worked normally.

### Actual Results
When the previous steps are done, an error shows in the console:

[code]

### Minimal Reproduction of the Problem
1. I'm creating a component to b

[2017-05-18 15:36] joaocrq commented on #331
I've been reading around and it seems that the problem was caused because in the main app I had React as a dependency and in my component too, which was causing to having multiple instances of React running. I "fixed" it by setting my component's `react` and `react-dom` dependencies as peerDependencies, however now I can't build the component with Webpack...

I'm not sure if this discussion should

[2017-05-20 16:23] zhaoyao91 opened #334 "Support select current time"
I noticed that the initial time is always 00:00:00. Can you please add some shortcut to help user quickly select current time?

[2017-05-22 05:08] narthollis opened #336 "Typescript Definition for DatetimeickerProps.value is incorrect according to property comment"
### I'm Submitting a ...

[code]

`DatetimeickerProps.value` is defined as accepting a JavaScript `Date` object, however the comment of this property suggests that anything that moment can parse is accepted.

This means the typing for `DatetimeickerProps.value` should be `Date | string | moment.Moment`

Currently to avoid typing issues we need to either case value as `any` thereby throwing out any

[2017-05-24 08:13] vxba opened #337 "how to trigger the calendar with button"
I'm Submitting a ...

[] Bug report
[ ] Feature request
[x] Support request

I want to open the calendar with a button when click. How to do that?
thank!

[2017-05-25 17:15] martinmacko47 opened #338 "Input value in different timezone"
[code]

Documentation for *utc* option says: "When true, input time values will be interpreted as UTC. Otherwise they will default to the user's local timezone.". Is there a way to interpret input values as a different timezone then UTC and then the user's local timezone?

For instance the user is in London and has local timezone `Europe/London` but he is inputing date and time of an event happeni

[2017-05-26 10:03] vaishnavi168 commented on #132
react-dateTime css not working. how to use that css

[2017-05-26 12:39] rikkit commented on #132
For what it's worth, the CSS worked for me out of the box (though I did tweak a few things). My stack is TypeScript + React + SCSS + Webpack. Pasted [the example css](https://github.com/YouCanBookMe/react-datetime/blob/master/css/react-datetime.css) into a file, then ```import "./react-datetime.css"``` in a wrapper react component I made. Weback, css-loader and style loader handle getting the css

[2017-05-26 20:14] Keith-Ball commented on #337
Seems like something that could be solved with the following:

[code]

Note that this is psudo-code, but it should work all the same.

[2017-05-26 20:55] tylerzika opened #339 "Disable manually typing in date/time"
[ ] Bug report
[x] Feature request
[x] Support request

I'd like it to be: when the user inputs the date/time, they can only make changes by using the pop out calendar/clock. Allowing them to type it in manually is prone to errors.

[2017-05-26 23:32] rikkit commented on #339
isn't this what the ```input``` option is for? just set it to false.

[2017-05-27 19:36] David-OConnor opened #340 "Reduce the timepicker window size"
How can I reduce the size of a time-picker window? It's currently 3 times the size it needs to be, cause excess mouse movements. I'm referring to the popup, not the input field.

[2017-05-27 22:31] tylerzika commented on #339
@rikkit, that's is not what `input` currently does. When I set it to `false`, it completely hides the input field.

Setting `input` to `false`.

<img width="504" alt="screen shot 2017-05-27 at 3 26 09 pm" src="https://cloud.githubusercontent.com/assets/1011888/26524712/2fbfe216-42f1-11e7-91c1-4449abdae0b7.png">

Setting `input` to `true`.

<img width="415" alt="screen shot 2017-05-27 at 3 27 24 pm

[2017-05-29 01:58] rikkit commented on #339
I guess I interpreted it wrong, I thought the option referred to the text input field i.e. html ```input``` element. Would CSS work for you?

[code]

[2017-05-29 02:12] vxba commented on #337
Thank @Keith-Ball I'll try.